In [6]:
#!wget -O "../../0_sample_data/koges_bmi.tsv.gz" https://koges.leelabsg.org/download/KoGES_BMI

--2024-12-23 17:00:14--  https://koges.leelabsg.org/download/KoGES_BMI
Resolving koges.leelabsg.org (koges.leelabsg.org)... 35.192.148.108
Connecting to koges.leelabsg.org (koges.leelabsg.org)|35.192.148.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 158394405 (151M) [text/tab-separated-values]
Saving to: ‘../../0_sample_data/koges_bmi.tsv.gz’

../../0_sample_data 100%[===================>] 151.06M  18.4MB/s    in 16s

2024-12-23 17:00:30 (9.69 MB/s) - ‘../../0_sample_data/koges_bmi.tsv.gz’ saved [158394405/158394405]

In [1]:
import sys
sys.path.insert(0,"/home/yunye/work/gwaslab/src")
import gwaslab as gl

In [2]:
gl.show_version()

2024/12/24 13:30:03 GWASLab v3.5.4 https://cloufield.github.io/gwaslab/
2024/12/24 13:30:03 (C) 2022-2024, Yunye He, Kamatani Lab, MIT License, gwaslab@gmail.com

In [3]:
mysumstats = gl.Sumstats("../../0_sample_data/koges_bmi.tsv.gz", 
                             chrom="chrom",
                             pos="pos",
                             ea="alt",
                             nea="ref",
                             eaf="af",
                             beta="beta",
                             se="sebeta",
                             p="pval",nrows=1000000,
                            verbose=False)

In [4]:
mysumstats.data

       CHR        POS  EA       NEA    EAF    BETA      SE       P   STATUS
0        1     714646   T  TTTGAAAC  0.026  0.0093  0.0170  0.5900  9999999
1        1     725256   T         C  0.027  0.0076  0.0170  0.6500  9999999
2        1     726805  GA         G  0.026  0.0078  0.0180  0.6600  9999999
3        1     726807   T       TTG  0.026  0.0078  0.0180  0.6600  9999999
4        1     726812  AG         A  0.026  0.0078  0.0180  0.6600  9999999
...     ..        ...  ..       ...    ...     ...     ...     ...      ...
999995   2  142257738   A         G  0.020 -0.0030  0.0180  0.8700  9999999
999996   2  142257971   G         T  0.540 -0.0057  0.0051  0.2700  9999999
999997   2  142258001   A         G  0.370  0.0140  0.0053  0.0068  9999999
999998   2  142258020   A         G  0.082  0.0210  0.0093  0.0230  9999999
999999   2  142258089   G         A  0.530 -0.0110  0.0051  0.0330  9999999

[1000000 rows x 9 columns]

In [5]:
mysumstats.basic_check(verbose=False)

[656] [1089] [1592] [2366] [3221]

In [6]:
mysumstats.fix_id(fixid=True,forcefixid=True,overwrite=True,verbose=False)

In [7]:
mysumstats.data

,CHR,POS,EA,NEA,EAF,BETA,SE,P,STATUS,SNPID
0,1,714646,T,TTTGAAAC,0.026,0.0093,0.0170,0.5900,9960399,1:714646:TTTGAAAC:T
1,1,725256,T,C,0.027,0.0076,0.0170,0.6500,9960099,1:725256:C:T
2,1,726805,GA,G,0.026,0.0078,0.0180,0.6600,9960399,1:726805:G:GA
3,1,726807,T,TTG,0.026,0.0078,0.0180,0.6600,9960399,1:726807:TTG:T
4,1,726812,AG,A,0.026,0.0078,0.0180,0.6600,9960399,1:726812:A:AG
...,...,...,...,...,...,...,...,...,...,...
999995,2,142257738,A,G,0.020,-0.0030,0.0180,0.8700,9960099,2:142257738:G:A
999996,2,142257971,G,T,0.540,-0.0057,0.0051,0.2700,9960099,2:142257971:T:G
999997,2,142258001,A,G,0.370,0.0140,0.0053,0.0068,9960099,2:142258001:G:A
999998,2,142258020,A,G,0.082,0.0210,0.0093,0.0230,9960099,2:142258020:G:A
999999,2,142258089,G,A,0.530,-0.0110,0.0051,0.0330,9960099,2:142258089:A:G

In [8]:
sumstats2 = gl.Sumstats("../../0_sample_data/t2d_bbj.txt.gz", 
                             snpid="SNP",
                             chrom="CHR",
                             pos="POS",
                             ea="REF",
                             nea="ALT",
                             eaf="Frq",
                             beta="BETA",
                             se="SE",
                             p="P",
                             nrows=1000000,
                             verbose=False)

In [9]:
sumstats2.basic_check(verbose=False)

In [10]:
pair = gl.SumstatsPair(mysumstats, sumstats2)

2024/12/24 13:30:32 Start to create SumstatsPair object...
2024/12/24 13:30:32  -Checking sumstats 1...
2024/12/24 13:30:32  -Column  : CHR   POS   EA       NEA      EAF     BETA    SE      P       STATUS   SNPID
2024/12/24 13:30:32  -DType   : Int64 Int64 category category float32 float64 float64 float64 category string
2024/12/24 13:30:32  -Verified: T     T     T        T        T       T       T       T       T        T
2024/12/24 13:30:32  -Current Dataframe shape : 1000000 x 10 ; Memory usage: 81.25 MB
2024/12/24 13:30:32  -Checking sumstats 2...
2024/12/24 13:30:32  -Column  : SNPID  CHR   POS   EA       NEA      EAF     BETA    SE      P       STATUS
2024/12/24 13:30:32  -DType   : string Int64 Int64 category category float32 float64 float64 float64 category
2024/12/24 13:30:32  -Verified: T      T     T     T        T        T       T       T       T       T
2024/12/24 13:30:32  -Current Dataframe shape : 1000000 x 10 ; Memory usage: 81.23 MB
2024/12/24 13:30:32  -Variant Info columns: ['CHR', 'POS', 'EA', 'NEA', 'STATUS', 'SNPID']
2024/12/24 13:30:32  -Variant statistics columns: ['EAF', 'BETA', 'SE', 'P']
2024/12/24 13:30:32  -Sumstats1 other columns: []
2024/12/24 13:30:32  -Sumstats2 other columns: []
2024/12/24 13:30:32 Start to merge sumstats...
2024/12/24 13:30:32  -Dropping old IDs:['SNPID']
2024/12/24 13:30:33  -After merging by CHR and POS:613216
2024/12/24 13:30:33  -Matching alleles and keeping only variants with same allele set:
2024/12/24 13:30:33   -Perfect match: 330147
2024/12/24 13:30:33   -Flipped match: 282001
2024/12/24 13:30:33   -Unmatched : 1068
2024/12/24 13:30:33  -Matched variants:612148
2024/12/24 13:30:33  -Aligning alleles with reference:
2024/12/24 13:30:33   -Perfect match: 330147
2024/12/24 13:30:33   -Flipped match: 282001
2024/12/24 13:30:33   -For perfect match: copy STATUS from reference...
2024/12/24 13:30:33   -For Flipped match: convert STATUS xxxxx[456789]x to xxxxx3x...
2024/12/24 13:30:34 Start to adjust statistics based on STATUS code...v3.5.4
2024/12/24 13:30:34  -Current Dataframe shape : 612148 x 17 ; Memory usage: 106.02 MB
2024/12/24 13:30:35 Start to flip allele-specific stats for SNPs with status xxxxx[35]x: ALT->EA , REF->NEA ...v3.5.4
2024/12/24 13:30:35  -Flipping 282001 variants...
2024/12/24 13:30:35  -Swapping column: NEA <=> EA...
2024/12/24 13:30:35  -Flipping column: BETA = - BETA...
2024/12/24 13:30:35  -Flipping column: EAF = 1 - EAF...
2024/12/24 13:30:35  -Changed the status for flipped variants : xxxxx[35]x -> xxxxx[12]x
2024/12/24 13:30:36 Finished adjusting statistics based on STATUS code.
2024/12/24 13:30:36  -Renaming sumstats2 columns by adding suffix _2
2024/12/24 13:30:36 Start to reorder the columns...
2024/12/24 13:30:36  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,EAF_2,BETA_2,SE_2,P_2,STATUS_2
2024/12/24 13:30:36 Finished sorting columns successfully!

In [11]:
pair.data

,SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,EAF_2,BETA_2,SE_2,P_2,STATUS_2
0,1:751343:T:A,1,751343,A,T,0.16,-0.00160,0.0074,0.82,9960099,0.1407,0.0172,0.0156,0.27050,9960099
1,1:751488:G:GA,1,751488,GA,G,0.16,-0.00390,0.0077,0.61,9960399,0.1470,0.0187,0.0174,0.28300,9960319
2,1:751756:T:C,1,751756,C,T,0.16,-0.00150,0.0074,0.84,9960099,0.1400,0.0172,0.0156,0.27050,9960019
3,1:752566:G:A,1,752566,A,G,0.83,0.00091,0.0073,0.90,9960099,0.8422,-0.0155,0.0131,0.23500,9960099
4,1:752894:T:C,1,752894,C,T,0.84,0.00130,0.0074,0.86,9960099,0.8560,-0.0169,0.0147,0.25250,9960019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613211,2:6347478:T:C,2,6347478,C,T,0.22,-0.00270,0.0063,0.67,9960099,0.2093,-0.0149,0.0111,0.17790,9960019
613212,2:6347639:C:A,2,6347639,A,C,0.22,-0.00280,0.0063,0.66,9960099,0.2100,-0.0159,0.0111,0.15100,9960099
613213,2:6347694:G:C,2,6347694,C,G,0.22,-0.00270,0.0063,0.67,9960099,0.2093,-0.0151,0.0111,0.17250,9960099
613214,2:6348478:G:A,2,6348478,A,G,0.22,-0.00280,0.0063,0.65,9960099,0.2140,-0.0152,0.0111,0.17160,9960099
613215,2:6348754:A:C,2,6348754,C,A,0.14,-0.00350,0.0073,0.64,9960099,0.1572,-0.0297,0.0126,0.01846,9960019

In [12]:
pair.to_coloc(vcf = "/home/yunye/.gwaslab/EAS.ALL.split_norm_af.1kgp3v5.hg19.vcf.gz",n_cores=1, memory=10000)

2024/12/24 13:30:36 Start to calculate LD matrix...v3.5.4
2024/12/24 13:30:36  -Current Dataframe shape : 612148 x 15 ; Memory usage: 103.08 MB
2024/12/24 13:30:36  -Loci were not provided. All significant loci will be automatically extracted...
2024/12/24 13:30:36 Start to extract lead variants...v3.5.4
2024/12/24 13:30:36  -Current Dataframe shape : 612148 x 15 ; Memory usage: 103.08 MB
2024/12/24 13:30:36  -Processing 612148 variants...
2024/12/24 13:30:36  -Significance threshold : 5e-08
2024/12/24 13:30:36  -Sliding window size: 1000  kb
2024/12/24 13:30:36  -Using P_1 for extracting lead variants...
2024/12/24 13:30:36  -Found 289 significant variants in total...
2024/12/24 13:30:37  -Identified 2 lead variants!
2024/12/24 13:30:37 Finished extracting lead variants.
2024/12/24 13:30:37  -plink1.9 path: plink
2024/12/24 13:30:37  -plink2 path: plink2
2024/12/24 13:30:37  -Dropping duplicated SNPIDs...
2024/12/24 13:30:37  -Locus #1---------------------------------------------------------------
2024/12/24 13:30:37  -Processing locus with lead variant 1:177894591:T:G at CHR 1 POS 177894591 ...
2024/12/24 13:30:37  -Processing VCF : /home/yunye/.gwaslab/EAS.ALL.split_norm_af.1kgp3v5.hg19.vcf.gz...
2024/12/24 13:30:37  -PLINK version: PLINK v2.00a5.9LM AVX2 AMD (12 Dec 2023)
2024/12/24 13:30:37   -Processing VCF for CHR 1...
2024/12/24 13:30:37   -Plink bfile for CHR 1 exists: /home/yunye/.gwaslab/EAS.ALL.split_norm_af.1kgp3v5.hg19.1. Skipping...
2024/12/24 13:30:41    -Variants in ref file: 6471908
2024/12/24 13:30:41    -Variants in locus (1:177894591:T:G): 4678
2024/12/24 13:30:44    -Variants with perfect matched alleles:4675
2024/12/24 13:30:44    -Variants with flipped alleles:0
2024/12/24 13:30:44    -Total Variants matched:4675
2024/12/24 13:30:44    -Flipping BETA_1 for variants with flipped alleles...
2024/12/24 13:30:44    -Flipping BETA_2 for variants with flipped alleles...
2024/12/24 13:30:44  -Exporting SNP list of 4675  to: ./STUDY1_STUDY2_1:177894591:T:G_1000.snplist.raw...
2024/12/24 13:30:44  -Exporting locus sumstats to: ./STUDY1_STUDY2_1:177894591:T:G_1000.sumstats.gz...
2024/12/24 13:30:44  -Exported columns: ['SNPID', 'CHR', 'POS', 'EA_bim', 'NEA_bim', 'BETA_1', 'SE_1', 'BETA_2', 'SE_2']...
2024/12/24 13:30:44  -Start to calculate LD r matrix...
2024/12/24 13:30:44  -PLINK version: PLINK v1.90b7.2 64-bit (11 Dec 2023)
2024/12/24 13:30:55  -Finished calculating LD r for locus with lead variant 1:177894591:T:G at CHR 1 POS 177894591...
2024/12/24 13:30:55  -Sumstats SNPID order and LD matrix SNPID order are matched.
2024/12/24 13:30:55  -Locus #2---------------------------------------------------------------
2024/12/24 13:30:55  -Processing locus with lead variant 2:632723:C:T at CHR 2 POS 632723 ...
2024/12/24 13:30:55  -Processing VCF : /home/yunye/.gwaslab/EAS.ALL.split_norm_af.1kgp3v5.hg19.vcf.gz...
2024/12/24 13:30:55  -PLINK version: PLINK v2.00a5.9LM AVX2 AMD (12 Dec 2023)
2024/12/24 13:30:55   -Processing VCF for CHR 2...
2024/12/24 13:30:55   -Plink bfile for CHR 2 exists: /home/yunye/.gwaslab/EAS.ALL.split_norm_af.1kgp3v5.hg19.2. Skipping...
2024/12/24 13:30:59    -Variants in ref file: 7085912
2024/12/24 13:30:59    -Variants in locus (2:632723:C:T): 6644
2024/12/24 13:31:03    -Variants with perfect matched alleles:6644
2024/12/24 13:31:03    -Variants with flipped alleles:0
2024/12/24 13:31:03    -Total Variants matched:6644
2024/12/24 13:31:03    -Flipping BETA_1 for variants with flipped alleles...
2024/12/24 13:31:03    -Flipping BETA_2 for variants with flipped alleles...
2024/12/24 13:31:03  -Exporting SNP list of 6644  to: ./STUDY1_STUDY2_2:632723:C:T_1000.snplist.raw...
2024/12/24 13:31:03  -Exporting locus sumstats to: ./STUDY1_STUDY2_2:632723:C:T_1000.sumstats.gz...
2024/12/24 13:31:03  -Exported columns: ['SNPID', 'CHR', 'POS', 'EA_bim', 'NEA_bim', 'BETA_1', 'SE_1', 'BETA_2', 'SE_2']...
2024/12/24 13:31:03  -Start to calculate LD r matrix...
2024/12/24 13:31:03  -PLINK version: PLINK v1.90b7.2 64-bit (11 Dec 2023)
2024/12/24 13:31:24  -Finished calculating LD r for locus with lead variant 2:632723:C:T at CHR 2 POS 632723...
2024/12/24 13:31:24  -Sumstats SNPID order and LD matrix SNPID order are matched.
2024/12/24 13:31:24  -File list is saved to: ./STUDY1_STUDY2_2loci_1000kb.filelist
2024/12/24 13:31:24  -Finished LD matrix calculation.
2024/12/24 13:31:24 Finished calculating LD matrix.

In [13]:
pair.run_coloc_susie(r="/home/yunye/anaconda3/envs/r41/bin/Rscript",
                     types=("quant","cc"),
                     d1_args=",sdY=1", 
                     ns=(50000,150000))

2024/12/24 13:31:24  Start to run coloc.susie from command line:
2024/12/24 13:31:24  -Phenotype types: quant and cc
2024/12/24 13:31:24  -Ns: 50000 and 150000
2024/12/24 13:31:24  -R version: R scripting front-end version 4.1.3 (2022-03-10)
2024/12/24 13:31:24  -Running for: 1:177894591:T:G - STUDY1_STUDY2
2024/12/24 13:31:24   -Locus sumstats:./STUDY1_STUDY2_1:177894591:T:G_1000.sumstats.gz
2024/12/24 13:31:24   -LD r matrix:./STUDY1_STUDY2_1:177894591:T:G_1000.ld.gz
2024/12/24 13:31:24   -output_prefix:./STUDY1_STUDY2_1:177894591:T:G_1000
2024/12/24 13:31:24   -coloc abf script: coloc.abf(dataset1=D1,dataset2=D2)
2024/12/24 13:31:24   -coloc susie script: coloc.susie(S1,S2)
2024/12/24 13:31:49  Running coloc.SuSieR from command line...
2024/12/24 13:31:49   -SuSieR result for ./STUDY1_STUDY2_1:177894591:T:G_1000 is empty. Please check parameters.
2024/12/24 13:31:49   -coloc-abf result summary to: ./STUDY1_STUDY2_1:177894591:T:G_1000.coloc.abf
2024/12/24 13:31:49   -coloc-susie result summary to: ./STUDY1_STUDY2_1:177894591:T:G_1000.coloc.susie
2024/12/24 13:31:49  -Running for: 2:632723:C:T - STUDY1_STUDY2
2024/12/24 13:31:49   -Locus sumstats:./STUDY1_STUDY2_2:632723:C:T_1000.sumstats.gz
2024/12/24 13:31:49   -LD r matrix:./STUDY1_STUDY2_2:632723:C:T_1000.ld.gz
2024/12/24 13:31:49   -output_prefix:./STUDY1_STUDY2_2:632723:C:T_1000
2024/12/24 13:31:49   -coloc abf script: coloc.abf(dataset1=D1,dataset2=D2)
2024/12/24 13:31:49   -coloc susie script: coloc.susie(S1,S2)
2024/12/24 13:32:35  Running coloc.SuSieR from command line...
2024/12/24 13:32:35   -coloc-abf result summary to: ./STUDY1_STUDY2_2:632723:C:T_1000.coloc.abf
2024/12/24 13:32:35   -coloc-susie result summary to: ./STUDY1_STUDY2_2:632723:C:T_1000.coloc.susie
2024/12/24 13:32:35 Finished clocalization using coloc and SuSiE.

In [14]:
pair.colocalization

,nsnps,PP.H0.abf,PP.H1.abf,PP.H2.abf,PP.H3.abf,PP.H4.abf,LOCUS,STUDY,HIT1,METHOD,hit1,hit2,idx1,idx2
0,4675,2.763008e-25,7.180652e-02,1.708395e-25,0.043514,0.884679,1:177894591:T:G,STUDY1_STUDY2,1:177894591:T:G,abf,NaN,NaN,NaN,NaN
1,6644,1.558585e-17,4.683682e-07,5.740130e-12,0.171668,0.828332,2:632723:C:T,STUDY1_STUDY2,2:632723:C:T,abf,NaN,NaN,NaN,NaN
2,6644,1.236645e-16,5.229404e-07,7.018638e-11,0.295388,0.704611,2:632723:C:T,STUDY1_STUDY2,NaN,susie,2:653874:C:T,2:631096:G:A,1.0,1.0
3,6644,4.430745e-08,1.717179e-06,2.514691e-02,0.974593,0.000258,2:632723:C:T,STUDY1_STUDY2,NaN,susie,2:527882:C:G,2:631096:G:A,2.0,1.0