In [1]:
import sys
sys.path.insert(0,"/home/yunye/work/gwaslab/src")
import gwaslab as gl

In [2]:
mysumstats1 = gl.Sumstats("../bmi_male_bbj.txt.gz"
                            ,fmt="auto",
                            verbose=False)

In [3]:
mysumstats1.basic_check(verbose=False)

In [4]:
mysumstats2 = gl.Sumstats("./koges_bmi.tsv.gz"
                            ,fmt="auto",
                            snpid="rsids",
                          ea="ref",
                          nea="alt",
                            verbose=False) 
mysumstats2.basic_check(verbose=False)

In [5]:
mysumstats2.data

               SNPID  CHR       POS        EA NEA    BETA      SE   STATUS
0        rs201299403    1    714646  TTTGAAAC   T  0.0093  0.0170  9980399
1        rs375354916    1    725256         C   T  0.0076  0.0170  9980099
2        rs542424673    1    726805         G  GA  0.0078  0.0180  9980399
3        rs563700350    1    726807       TTG   T  0.0078  0.0180  9980399
4        rs531109304    1    726812         A  AG  0.0078  0.0180  9980399
...              ...  ...       ...       ...  ..     ...     ...      ...
7982447    rs5771020   22  51232581         T   C  0.0053  0.0062  9980099
7982448    rs4040317   22  51233182         G   A  0.0062  0.0062  9980099
7982449    rs3896457   22  51237063         T   C  0.0057  0.0063  9980099
7982450  rs370652263   22  51237712         G   A  0.0095  0.0190  9980099
7982451  rs149733995   22  51238249         A   C -0.0035  0.0170  9980099

[7982452 rows x 8 columns]

In [6]:
pair = gl.SumstatsPair(mysumstats1, mysumstats2)

Wed Dec 13 14:58:55 2023 Dropping old IDs:['SNPID']
Wed Dec 13 14:59:02 2023 After merging by CHR and POS:5739499
Wed Dec 13 14:59:03 2023 Matched variants:5731477
Wed Dec 13 14:59:06 2023  -Current Dataframe shape : 5731477  x  15
Wed Dec 13 14:59:11 2023 Start to flip allele-specific stats for SNPs with status xxxxx[35]x: alt->ea , ref->nea ...
Wed Dec 13 14:59:11 2023  -Flipping 5731477 variants...
Wed Dec 13 14:59:11 2023  -Swapping column: NEA <=> EA...
Wed Dec 13 14:59:13 2023  -Flipping column: BETA = - BETA...
Wed Dec 13 14:59:13 2023  -Changed the status for flipped variants : xxxxx[35]x -> xxxxx[12]x
Wed Dec 13 14:59:21 2023 Finished converting successfully!
Wed Dec 13 14:59:22 2023 Start filling data using existing columns...
Wed Dec 13 14:59:22 2023  -Raw input columns:  ['SNPID', 'CHR', 'POS', 'EA', 'NEA', 'STATUS_1', 'EAF_1', 'BETA_1', 'SE_1', 'P_1', 'BETA', 'SE', 'STATUS']
Wed Dec 13 14:59:22 2023  -Overwrite mode:  False
Wed Dec 13 14:59:22 2023   -Skipping columns:  []
Wed Dec 13 14:59:22 2023  -Filling columns:  {'EAF', 'P'}
Wed Dec 13 14:59:22 2023   - Filling Columns iteratively...
Wed Dec 13 14:59:22 2023 Start to reorder the columns...
Wed Dec 13 14:59:22 2023  -Current Dataframe shape : 5731477  x  13
Wed Dec 13 14:59:22 2023  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,BETA,SE,STATUS,STATUS_1,EAF_1,BETA_1,SE_1,P_1
Wed Dec 13 14:59:22 2023 Finished sorting columns successfully!
Wed Dec 13 14:59:22 2023 Finished filling data using existing columns.
Wed Dec 13 14:59:23 2023  -Renaming sumstats2 columns by adding suffix _2
Wed Dec 13 14:59:23 2023 Start to reorder the columns...
Wed Dec 13 14:59:23 2023  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,BETA_2,SE_2,STATUS_2
Wed Dec 13 14:59:23 2023 Finished sorting columns successfully!

In [7]:
pair.data

,SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,BETA_2,SE_2,STATUS_2
0,rs143225517,1,751756,C,T,0.1517,-0.003718,0.006869,0.5883,9980099,0.00150,0.0074,9980019
1,rs3094315,1,752566,A,G,0.8438,0.003603,0.006666,0.5889,9980099,-0.00091,0.0073,9980019
2,rs61770173,1,753405,A,C,0.8385,0.003882,0.007160,0.5878,9980099,-0.00056,0.0073,9980019
3,rs117086422,1,845635,T,C,0.1402,-0.004364,0.007421,0.5565,9980099,-0.00750,0.0083,9980019
4,rs28612348,1,846078,T,C,0.1419,-0.004265,0.007429,0.5659,9980099,-0.00570,0.0083,9980019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5739494,rs41281537,22,51171667,A,G,0.0910,0.001643,0.008420,0.8453,9980099,-0.00460,0.0086,9980019
5739495,rs756638,22,51171693,A,G,0.1129,-0.002189,0.007578,0.7726,9980099,-0.00280,0.0077,9980019
5739496,rs5770824,22,51172460,C,T,0.0984,0.001780,0.008673,0.8374,9980099,-0.00740,0.0081,9980019
5739497,rs3810648,22,51175626,G,A,0.0104,-0.024390,0.022970,0.2884,9980099,-0.00980,0.0180,9980019
5739498,rs2285395,22,51178090,A,G,0.0103,-0.022820,0.023060,0.3223,9980099,-0.01200,0.0200,9980019

In [8]:
pair.sumstats1.sample(n=2)

,SNPID,CHR,POS,EA_1,NEA_1,STATUS,EAF_1,BETA_1,SE_1,P_1
2532216,rs603057,6,124902610,G,A,9980099,0.1891,-0.02281,0.006318,0.000306
2585573,rs118128099,6,150975902,T,A,9980099,0.0082,-0.01183,0.028700,0.680200

In [9]:
pair.extract_with_ld_proxy(snplist=["rs116975378","rs9512516","rs75030346"],
                           ld_threshold=0.000001,
                           vcf_path=gl.get_path("1kg_eas_hg19"))

Wed Dec 13 14:59:23 2023 Start to load reference genotype...
Wed Dec 13 14:59:23 2023  -reference vcf path : /home/yunye/.gwaslab/EAS.ALL.split_norm_af.1kgp3v5.hg19.vcf.gz
Wed Dec 13 14:59:23 2023  -Checking prefix for chromosomes in vcf files...
Wed Dec 13 14:59:23 2023  -No prefix for chromosomes in the VCF files.
Wed Dec 13 14:59:24 2023  -Extract 217 variants in flanking region of rs116975378 for checking: 1:97226968-97426968
Wed Dec 13 14:59:25 2023   -Retrieving index...
Wed Dec 13 14:59:25 2023   -Ref variants in the region: 5507
Wed Dec 13 14:59:25 2023   -Matching variants using POS, NEA, EA ...
Wed Dec 13 14:59:25 2023   -Matched variants in sumstats and vcf:217
Wed Dec 13 14:59:25 2023   -Calculating Rsq...
Wed Dec 13 14:59:25 2023   -#variants in LD with rs116975378 (RSQ > 1e-06): 214
Wed Dec 13 14:59:25 2023   -Proxy for rs116975378 is found: rs78334761 (LD RSQ= 0.004230566788464785)
Wed Dec 13 14:59:25 2023  -Extract 365 variants in flanking region of rs75030346 for checking: 3:127285113-127485113
Wed Dec 13 14:59:26 2023   -Retrieving index...
Wed Dec 13 14:59:26 2023   -Ref variants in the region: 5939
Wed Dec 13 14:59:26 2023   -Matching variants using POS, NEA, EA ...
Wed Dec 13 14:59:26 2023   -Matched variants in sumstats and vcf:365
Wed Dec 13 14:59:26 2023   -Calculating Rsq...
Wed Dec 13 14:59:26 2023   -#variants in LD with rs75030346 (RSQ > 1e-06): 358
Wed Dec 13 14:59:26 2023   -Proxy for rs75030346 is found: rs77857091 (LD RSQ= 0.00018000516865868121)
Wed Dec 13 14:59:26 2023  -Extract 398 variants in flanking region of rs9512516 for checking: 13:27523949-27723949
Wed Dec 13 14:59:27 2023   -Retrieving index...
Wed Dec 13 14:59:27 2023   -Ref variants in the region: 6093
Wed Dec 13 14:59:27 2023   -Matching variants using POS, NEA, EA ...
Wed Dec 13 14:59:27 2023   -Matched variants in sumstats and vcf:398
Wed Dec 13 14:59:27 2023   -Calculating Rsq...
Wed Dec 13 14:59:27 2023   -#variants in LD with rs9512516 (RSQ > 1e-06): 395
Wed Dec 13 14:59:27 2023   -Proxy for rs9512516 is found: rs6491166 (LD RSQ= 0.002807424869388342)
Wed Dec 13 14:59:27 2023 Finished loading reference genotype successfully!

,SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,BETA_2,SE_2,STATUS_2,REFINDEX,RSQ,LD_REF_VARIANT
0,rs78334761,1,97228107,G,C,0.1923,0.01175,0.006137,0.05551,9980099,-0.015,0.0066,9980019,43,0.004231,rs116975378
1,rs77857091,3,127286109,C,G,0.1414,-0.01683,0.007139,0.01843,9980099,0.00084,0.0068,9980019,24,0.00018,rs75030346
2,rs6491166,13,27524180,A,G,0.3892,0.000537,0.004995,0.9144,9980099,-0.0038,0.0053,9980019,5,0.002807,rs9512516