In [1]:
import sys
sys.path.insert(0,"/home/yunye/work/gwaslab/src")
import gwaslab as gl
import pandas as pd

# loading

In [2]:
gl.check_downloaded_ref()

Thu Jan 26 22:22:50 2023 Start to check downloaded reference files...
Thu Jan 26 22:22:50 2023  -No records in config file.
Thu Jan 26 22:22:50 2023 Finished checking downloaded reference files...

In [3]:
gl.download_ref("1kg_dbsnp151_hg19_auto")

Thu Jan 26 22:22:54 2023 Start to download  1kg_dbsnp151_hg19_auto  ...
Thu Jan 26 22:22:54 2023  -Downloading to: /home/he/.gwaslab/1kg_dbsnp151_hg19_auto.txt.gz
Thu Jan 26 22:25:23 2023  -Updating record in config file...
Thu Jan 26 22:25:23 2023 Downloaded  1kg_dbsnp151_hg19_auto  successfully!

In [6]:
mysumstats = gl.Sumstats("t2d_bbj.txt.gz",
             snpid="SNP",
             chrom="CHR",
             pos="POS",
             ea="ALT",
             nea="REF",
             neaf="Frq",
             beta="BETA",
             se="SE",
             p="P",
             direction="Dir",
             n="N",nrows=10000)

Fri Jan 26 18:52:42 2024 GWASLab v3.4.36 https://cloufield.github.io/gwaslab/
Fri Jan 26 18:52:42 2024 (C) 2022-2024, Yunye He, Kamatani Lab, MIT License, gwaslab@gmail.com
Fri Jan 26 18:52:42 2024 Start to initiate from file :t2d_bbj.txt.gz
Fri Jan 26 18:52:42 2024  -Reading columns          : N,POS,P,SE,Frq,REF,CHR,ALT,Dir,BETA,SNP
Fri Jan 26 18:52:42 2024  -Renaming columns to      : N,POS,P,SE,EAF,NEA,CHR,EA,DIRECTION,BETA,SNPID
Fri Jan 26 18:52:42 2024  -Current Dataframe shape : 10000  x  11
Fri Jan 26 18:52:42 2024  -Initiating a status column: STATUS ...
Fri Jan 26 18:52:42 2024  -WARNING! Version of genomic coordinates is unknown...
Fri Jan 26 18:52:42 2024  -NEAF is specified...
Fri Jan 26 18:52:42 2024  -Checking if 0<= NEAF <=1 ...
Fri Jan 26 18:52:42 2024  -Converted NEAF to EAF.
Fri Jan 26 18:52:42 2024  -Removed 0 variants with bad NEAF.
Fri Jan 26 18:52:42 2024 Start to reorder the columns...v3.4.36
Fri Jan 26 18:52:42 2024  -Current Dataframe shape : 10000  x  12
Fri Jan 26 18:52:42 2024  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS
Fri Jan 26 18:52:42 2024 Finished sorting columns successfully!
Fri Jan 26 18:52:42 2024  -Column  : SNPID  CHR    POS   EA       NEA      EAF     BETA    SE      P       N     DIRECTION STATUS
Fri Jan 26 18:52:42 2024  -DType   : object string int64 category category float64 float64 float64 float64 int64 object    category
Fri Jan 26 18:52:42 2024  -Verified: T      F      T     T        T        T       T       T       T       T     T         T
Fri Jan 26 18:52:42 2024  -WARNING! Columns with possibly incompatable dtypes: CHR
Fri Jan 26 18:52:46 2024 Finished loading data successfully!

In [7]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS
0,1:725932_G_A,1,725932,G,A,0.9960,-0.0737,0.1394,0.59700,166718,-?+-,9999999
1,1:725933_A_G,1,725933,G,A,0.0040,0.0737,0.1394,0.59730,166718,+?-+,9999999
2,1:737801_T_C,1,737801,C,T,0.0051,0.0490,0.1231,0.69080,166718,+?-+,9999999
3,1:749963_T_TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,-?++,9999999
4,1:751343_T_A,1,751343,T,A,0.8593,0.0172,0.0156,0.27050,166718,-?++,9999999
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1:3142135_T_C,1,3142135,C,T,0.1292,-0.0350,0.0191,0.06686,191764,----,9999999
9996,1:3142137_T_C,1,3142137,C,T,0.4886,-0.0014,0.0094,0.88070,191764,-0+-,9999999
9997,1:3142161_C_T,1,3142161,C,T,0.9476,-0.0061,0.0216,0.77790,191764,---+,9999999
9998,1:3142212_C_CT,1,3142212,C,CT,0.9418,-0.0047,0.0199,0.81500,191764,---+,9999999
9999,1:3142762_G_A,1,3142762,G,A,0.9828,-0.0084,0.0433,0.84620,191764,+--+,9999999

In [8]:
mysumstats.fix_id(fixsep=True)

Fri Jan 26 18:52:47 2024 Start to check IDs...v3.4.36
Fri Jan 26 18:52:47 2024  -Current Dataframe shape : 10000  x  12
Fri Jan 26 18:52:47 2024  -Checking if SNPID is CHR:POS:NEA:EA...(separator: - ,: , _)
Fri Jan 26 18:52:47 2024  -Replacing [_-] in SNPID with ":" ...
Fri Jan 26 18:52:47 2024 Finished checking IDs successfully!

In [9]:
mysumstats.basic_check(verbose=False)

In [10]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS
0,1:725932:G:A,1,725932,G,A,0.9960,-0.0737,0.1394,0.59700,166718,-?+-,9960099
1,1:725933:A:G,1,725933,G,A,0.0040,0.0737,0.1394,0.59730,166718,+?-+,9960099
2,1:737801:T:C,1,737801,C,T,0.0051,0.0490,0.1231,0.69080,166718,+?-+,9960099
3,1:749963:T:TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,-?++,9960399
4,1:751343:T:A,1,751343,T,A,0.8593,0.0172,0.0156,0.27050,166718,-?++,9960099
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1:3142135:T:C,1,3142135,C,T,0.1292,-0.0350,0.0191,0.06686,191764,----,9960099
9996,1:3142137:T:C,1,3142137,C,T,0.4886,-0.0014,0.0094,0.88070,191764,-0+-,9960099
9997,1:3142161:C:T,1,3142161,C,T,0.9476,-0.0061,0.0216,0.77790,191764,---+,9960099
9998,1:3142212:C:CT,1,3142212,C,CT,0.9418,-0.0047,0.0199,0.81500,191764,---+,9960399
9999,1:3142762:G:A,1,3142762,G,A,0.9828,-0.0084,0.0433,0.84620,191764,+--+,9960099

In [11]:
mysumstats.assign_rsid(ref_rsid_tsv=gl.get_path("1kg_dbsnp151_hg19_auto"))

Fri Jan 26 18:52:51 2024 Start to annotate rsID based on chromosome and position information...v3.4.36
Fri Jan 26 18:52:51 2024  -Current Dataframe shape : 10000  x  12
Fri Jan 26 18:52:51 2024  -SNPID-rsID text file: /home/yunye/.gwaslab/1kg_dbsnp151_hg19_auto.txt.gz
Fri Jan 26 18:52:51 2024  -10000 rsID could be possibly fixed...
Fri Jan 26 18:52:51 2024  -Setting block size:  5000000
Fri Jan 26 18:52:51 2024  -Loading block: 0   1   2   3   4   5   6   7   8   9   10   11   12   13   14   15
Fri Jan 26 18:55:49 2024  -rsID Annotation for 58 need to be fixed!
Fri Jan 26 18:55:49 2024  -Annotated 9942 rsID successfully!

In [12]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS,rsID
0,1:725932:G:A,1,725932,G,A,0.9960,-0.0737,0.1394,0.59700,166718,-?+-,9960099,rs565766235
1,1:725933:A:G,1,725933,G,A,0.0040,0.0737,0.1394,0.59730,166718,+?-+,9960099,rs534711480
2,1:737801:T:C,1,737801,C,T,0.0051,0.0490,0.1231,0.69080,166718,+?-+,9960099,rs540210562
3,1:749963:T:TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,-?++,9960399,rs529266287
4,1:751343:T:A,1,751343,T,A,0.8593,0.0172,0.0156,0.27050,166718,-?++,9960099,rs28544273
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1:3142135:T:C,1,3142135,C,T,0.1292,-0.0350,0.0191,0.06686,191764,----,9960099,rs55938238
9996,1:3142137:T:C,1,3142137,C,T,0.4886,-0.0014,0.0094,0.88070,191764,-0+-,9960099,rs7520225
9997,1:3142161:C:T,1,3142161,C,T,0.9476,-0.0061,0.0216,0.77790,191764,---+,9960099,rs151238770
9998,1:3142212:C:CT,1,3142212,C,CT,0.9418,-0.0047,0.0199,0.81500,191764,---+,9960399,rs137909285
9999,1:3142762:G:A,1,3142762,G,A,0.9828,-0.0084,0.0433,0.84620,191764,+--+,9960099,rs77575110

In [13]:
mysumstats.data.drop(labels=["SNPID","CHR","POS"],axis=1,inplace=True)

In [14]:
mysumstats.data

,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS,rsID
0,G,A,0.9960,-0.0737,0.1394,0.59700,166718,-?+-,9960099,rs565766235
1,G,A,0.0040,0.0737,0.1394,0.59730,166718,+?-+,9960099,rs534711480
2,C,T,0.0051,0.0490,0.1231,0.69080,166718,+?-+,9960099,rs540210562
3,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,-?++,9960399,rs529266287
4,T,A,0.8593,0.0172,0.0156,0.27050,166718,-?++,9960099,rs28544273
...,...,...,...,...,...,...,...,...,...,...
9995,C,T,0.1292,-0.0350,0.0191,0.06686,191764,----,9960099,rs55938238
9996,C,T,0.4886,-0.0014,0.0094,0.88070,191764,-0+-,9960099,rs7520225
9997,C,T,0.9476,-0.0061,0.0216,0.77790,191764,---+,9960099,rs151238770
9998,C,CT,0.9418,-0.0047,0.0199,0.81500,191764,---+,9960399,rs137909285
9999,G,A,0.9828,-0.0084,0.0433,0.84620,191764,+--+,9960099,rs77575110

In [11]:
gl.dump_pickle(mysumstats,"test")

Fri Jan 27 00:28:37 2023 Start to dump the Sumstats Object.
Fri Jan 27 00:28:37 2023  -File exists. Skipping. If you want to overwrite, please use overwrite=True.
Fri Jan 27 00:28:37 2023 Finished dumping.

# rsid to chr pos

In [2]:
mysumstats = gl.load_pickle("test")

Fri Jan 27 00:06:24 2023 Loaded dumped Sumstats object from :  test

In [3]:
mysumstats.rsid_to_chrpos(path=gl.get_path("1kg_dbsnp151_hg19_auto"),
                          chunksize=10000000)

Fri Jan 27 00:06:24 2023 Start to update chromosome and position information based on rsID...
Fri Jan 27 00:06:24 2023  -Current Dataframe shape : 10000  x  10
Fri Jan 27 00:06:24 2023  -rsID dictionary file: /home/he/.gwaslab/1kg_dbsnp151_hg19_auto.txt.gz
Fri Jan 27 00:06:24 2023  -Setting block size:  10000000
Fri Jan 27 00:06:24 2023  -Loading block: 0   1   2   3   4   5   6   7
Fri Jan 27 00:11:44 2023  -Updating CHR and POS finished.Start to re-fixing CHR and POS...
Fri Jan 27 00:11:44 2023 Start to fix chromosome notation...
Fri Jan 27 00:11:44 2023  -Current Dataframe shape : 10000  x  12
Fri Jan 27 00:11:45 2023  -Vairants with standardized chromosome notation: 9942
Fri Jan 27 00:11:45 2023  -Vairants with fixable chromosome notations: 0
Fri Jan 27 00:11:45 2023  -Vairants with NA chromosome notations: 58
Fri Jan 27 00:11:45 2023  -No unrecognized chromosome notations...
Fri Jan 27 00:11:46 2023 Finished fixing chromosome notation successfully!
Fri Jan 27 00:11:46 2023 Start to fix basepair positions...
Fri Jan 27 00:11:46 2023  -Current Dataframe shape : 10000  x  12
Fri Jan 27 00:11:46 2023  -Converting to Int64 data type ...
Fri Jan 27 00:11:46 2023  -Position upper_bound is: 250,000,000
Fri Jan 27 00:11:46 2023  -Remove outliers: 0
Fri Jan 27 00:11:46 2023  -Converted all position to datatype Int64.
Fri Jan 27 00:11:46 2023 Finished fixing basepair position successfully!

In [4]:
mysumstats.data

,rsID,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS,CHR,POS
0,rs565766235,G,A,0.9960,-0.0737,0.1394,0.59700,166718,-?+-,9960099,1,725932
1,rs534711480,G,A,0.0040,0.0737,0.1394,0.59730,166718,+?-+,9960099,1,725933
2,rs540210562,C,T,0.0051,0.0490,0.1231,0.69080,166718,+?-+,9960099,1,737801
3,rs529266287,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,-?++,9960399,1,749963
4,rs28544273,T,A,0.8593,0.0172,0.0156,0.27050,166718,-?++,9960099,1,751343
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,rs55938238,C,T,0.1292,-0.0350,0.0191,0.06686,191764,----,9960099,1,3142135
9996,rs7520225,C,T,0.4886,-0.0014,0.0094,0.88070,191764,-0+-,9960099,1,3142137
9997,rs151238770,C,T,0.9476,-0.0061,0.0216,0.77790,191764,---+,9960099,1,3142161
9998,rs137909285,C,CT,0.9418,-0.0047,0.0199,0.81500,191764,---+,9960399,1,3142212
9999,rs77575110,G,A,0.9828,-0.0084,0.0433,0.84620,191764,+--+,9960099,1,3142762

# assign chr pos using hdf5

In [5]:
gl.process_vcf_to_hfd5(vcf="/home/yunye/CommonData/Reference/ncbi_dbsnp/ncbi_dbsnp/db155/GCF_000001405.25.gz",
                       chr_dict=gl.get_NC_to_number(build="19"))

Fri Jan 26 16:35:14 2024 Start to process VCF file to HDF5:
Fri Jan 26 16:35:14 2024  -Reference VCF path:/home/yunye/CommonData/Reference/ncbi_dbsnp/ncbi_dbsnp/db155/GCF_000001405.25.gz
Fri Jan 26 16:35:14 2024  -Output group size:20000000
Fri Jan 26 16:35:14 2024  -Compression level:9
Fri Jan 26 16:35:14 2024  -Loading chunksize:20000000
Fri Jan 26 16:35:14 2024  -HDF5 Output path: /home/yunye/CommonData/Reference/ncbi_dbsnp/ncbi_dbsnp/db155/GCF_000001405.25.gz.rsID_CHR_POS_groups_20000000.h5
Fri Jan 26 16:35:14 2024  -Log output path: /home/yunye/CommonData/Reference/ncbi_dbsnp/ncbi_dbsnp/db155/GCF_000001405.25.gz.rsID_CHR_POS_groups_20000000.log
Fri Jan 26 16:35:14 2024  -Processing chunk: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 Fri Jan 26 17:20:17 2024 Processing finished!
Fri Jan 26 17:20:17 2024  -Save log file to :  /home/yunye/CommonData/Reference/ncbi_dbsnp/ncbi_dbsnp/db155/GCF_000001405.25.gz.rsID_CHR_POS_groups_20000000.log

## rsid_to_chrpos2

In [15]:
mysumstats.rsid_to_chrpos2(path="/home/yunye/CommonData/Reference/ncbi_dbsnp/ncbi_dbsnp/db155/GCF_000001405.25.gz.rsID_CHR_POS_groups_20000000.h5")

Fri Jan 26 18:56:43 2024 Start to assign CHR and POS using rsIDs...v3.4.36
Fri Jan 26 18:56:43 2024  -Source hdf5 file:  /home/yunye/CommonData/Reference/ncbi_dbsnp/ncbi_dbsnp/db155/GCF_000001405.25.gz.rsID_CHR_POS_groups_20000000.h5
Fri Jan 26 18:56:43 2024  -Cores to use :  4
Fri Jan 26 18:56:43 2024  -Blocksize (make sure it is the same as hdf5 file ):  20000000
Fri Jan 26 18:56:43 2024  -Non-Valid rsIDs:  58
Fri Jan 26 18:56:43 2024  -Duplicated rsIDs except for the first occurrence:  0
Fri Jan 26 18:56:43 2024  -Valid rsIDs:  9942
Fri Jan 26 18:56:43 2024  -Initiating CHR ...
Fri Jan 26 18:56:43 2024  -Initiating POS ...
Fri Jan 26 18:56:43 2024  -Divided into groups:  41
Fri Jan 26 18:56:43 2024   - {0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 18, 19, 26, 27, 28, 37, 38, 39, 43, 44, 48, 49, 52, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74}
Fri Jan 26 18:56:43 2024  -Number of groups in HDF5:  92
Fri Jan 26 18:56:43 2024  -Max index of groups in HDF5:  105
Fri Jan 26 18:58:47 2024  -Merging group data...
Fri Jan 26 18:58:47 2024  -Append data...
Fri Jan 26 18:58:47 2024 Start to fix chromosome notation...v3.4.36
Fri Jan 26 18:58:47 2024  -Current Dataframe shape : 10000  x  12
Fri Jan 26 18:58:47 2024  -Checking CHR data type...
Fri Jan 26 18:58:47 2024  -Variants with standardized chromosome notation: 9705
Fri Jan 26 18:58:47 2024  -Variants with fixable chromosome notations: 0
Fri Jan 26 18:58:47 2024  -Variants with NA chromosome notations: 295
Fri Jan 26 18:58:47 2024  -No unrecognized chromosome notations...
Fri Jan 26 18:58:47 2024 Finished fixing chromosome notation successfully!
Fri Jan 26 18:58:47 2024 Start to fix basepair positions...v3.4.36
Fri Jan 26 18:58:47 2024  -Current Dataframe shape : 10000  x  12
Fri Jan 26 18:58:47 2024  -Converting to Int64 data type ...
Fri Jan 26 18:58:47 2024  -Position bound:(0 , 250,000,000)
Fri Jan 26 18:58:47 2024  -Removed outliers: 0
Fri Jan 26 18:58:47 2024  -Converted all position to datatype Int64.
Fri Jan 26 18:58:47 2024 Finished fixing basepair position successfully!
Fri Jan 26 18:58:47 2024 Finished assigning CHR and POS using rsIDs.

In [16]:
mysumstats.data

,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS,rsID,CHR,POS
0,G,A,0.1578,-0.0155,0.0131,0.23500,166718,+?--,9960099,rs3094315,1,752566
1,G,A,0.7493,0.0204,0.0147,0.16500,166718,-?++,9960099,rs3131972,1,752721
2,C,T,0.8560,0.0169,0.0147,0.25250,166718,-?++,9960099,rs3131971,1,752894
3,C,A,0.1430,-0.0169,0.0148,0.25390,166718,+?--,9960099,rs3115860,1,753405
4,C,T,0.8557,0.0171,0.0148,0.24780,166718,-?++,9960099,rs3131970,1,753425
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,G,A,0.0011,-0.4583,0.2152,0.03326,166718,-?-+,9960099,NaN,<NA>,<NA>
9996,C,A,0.0058,-0.0606,0.0735,0.40950,191764,++--,9960099,NaN,<NA>,<NA>
9997,C,T,0.9986,-0.1820,0.1672,0.27630,191764,----,9960099,NaN,<NA>,<NA>
9998,C,T,0.9983,0.0886,0.1235,0.47300,191764,-++-,9960099,NaN,<NA>,<NA>
9999,TGGGGAGGAGGAGGGAGGCGGGGGGAGGAGG,T,0.9881,-0.0041,0.0606,0.94650,191764,+---,9960399,NaN,<NA>,<NA>