In [1]:
import sys
sys.path.insert(0,"/home/he/work/gwaslab/src")
import gwaslab as gl
import pandas as pd

# loading

In [2]:
gl.check_downloaded_ref()

Thu Jan 26 22:22:50 2023 Start to check downloaded reference files...
Thu Jan 26 22:22:50 2023  -No records in config file.
Thu Jan 26 22:22:50 2023 Finished checking downloaded reference files...

In [3]:
gl.download_ref("1kg_dbsnp151_hg19_auto")

Thu Jan 26 22:22:54 2023 Start to download  1kg_dbsnp151_hg19_auto  ...
Thu Jan 26 22:22:54 2023  -Downloading to: /home/he/.gwaslab/1kg_dbsnp151_hg19_auto.txt.gz
Thu Jan 26 22:25:23 2023  -Updating record in config file...
Thu Jan 26 22:25:23 2023 Downloaded  1kg_dbsnp151_hg19_auto  successfully!

In [2]:
mysumstats = gl.Sumstats("t2d_bbj.txt.gz",
             snpid="SNP",
             chrom="CHR",
             pos="POS",
             ea="ALT",
             nea="REF",
             neaf="Frq",
             beta="BETA",
             se="SE",
             p="P",
             direction="Dir",
             n="N",nrows=10000)

Fri Jan 27 00:24:03 2023 Start to initiate from file :t2d_bbj.txt.gz
Fri Jan 27 00:24:03 2023  -Reading columns          : Dir,P,N,SE,CHR,REF,BETA,SNP,ALT,Frq,POS
Fri Jan 27 00:24:03 2023  -Renaming columns to      : DIRECTION,P,N,SE,CHR,NEA,BETA,SNPID,EA,EAF,POS
Fri Jan 27 00:24:03 2023  -Current Dataframe shape : 10000  x  11
Fri Jan 27 00:24:03 2023  -Initiating a status column: STATUS ...
Fri Jan 27 00:24:04 2023  -NEAF is specified...
Fri Jan 27 00:24:04 2023  -Checking if 0<= NEAF <=1 ...
Fri Jan 27 00:24:04 2023  -Converted NEAF to EAF.
Fri Jan 27 00:24:04 2023  -Removed 0 variants with bad NEAF.
Fri Jan 27 00:24:04 2023 Start to reorder the columns...
Fri Jan 27 00:24:04 2023  -Current Dataframe shape : 10000  x  12
Fri Jan 27 00:24:04 2023  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS
Fri Jan 27 00:24:04 2023 Finished sorting columns successfully!
Fri Jan 27 00:24:04 2023 Finished loading data successfully!

In [3]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS
0,1:725932_G_A,1,725932,G,A,0.9960,-0.0737,0.1394,0.59700,166718,-?+-,9999999
1,1:725933_A_G,1,725933,G,A,0.0040,0.0737,0.1394,0.59730,166718,+?-+,9999999
2,1:737801_T_C,1,737801,C,T,0.0051,0.0490,0.1231,0.69080,166718,+?-+,9999999
3,1:749963_T_TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,-?++,9999999
4,1:751343_T_A,1,751343,T,A,0.8593,0.0172,0.0156,0.27050,166718,-?++,9999999
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1:3142135_T_C,1,3142135,C,T,0.1292,-0.0350,0.0191,0.06686,191764,----,9999999
9996,1:3142137_T_C,1,3142137,C,T,0.4886,-0.0014,0.0094,0.88070,191764,-0+-,9999999
9997,1:3142161_C_T,1,3142161,C,T,0.9476,-0.0061,0.0216,0.77790,191764,---+,9999999
9998,1:3142212_C_CT,1,3142212,C,CT,0.9418,-0.0047,0.0199,0.81500,191764,---+,9999999
9999,1:3142762_G_A,1,3142762,G,A,0.9828,-0.0084,0.0433,0.84620,191764,+--+,9999999

In [4]:
mysumstats.fix_id(fixsep=True)

Fri Jan 27 00:24:05 2023 Start to check IDs...
Fri Jan 27 00:24:05 2023  -Current Dataframe shape : 10000  x  12
Fri Jan 27 00:24:05 2023  -Checking if SNPID is chr:pos:ref:alt...(separator: - ,: , _)
Fri Jan 27 00:24:06 2023  -Replacing [_-] in SNPID with ":" ...
Fri Jan 27 00:24:06 2023 Finished checking IDs successfully!

In [5]:
mysumstats.basic_check(verbose=False)

In [6]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS
0,1:725932:G:A,1,725932,G,A,0.9960,-0.0737,0.1394,0.59700,166718,-?+-,9960099
1,1:725933:A:G,1,725933,G,A,0.0040,0.0737,0.1394,0.59730,166718,+?-+,9960099
2,1:737801:T:C,1,737801,C,T,0.0051,0.0490,0.1231,0.69080,166718,+?-+,9960099
3,1:749963:T:TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,-?++,9960399
4,1:751343:T:A,1,751343,T,A,0.8593,0.0172,0.0156,0.27050,166718,-?++,9960099
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1:3142135:T:C,1,3142135,C,T,0.1292,-0.0350,0.0191,0.06686,191764,----,9960099
9996,1:3142137:T:C,1,3142137,C,T,0.4886,-0.0014,0.0094,0.88070,191764,-0+-,9960099
9997,1:3142161:C:T,1,3142161,C,T,0.9476,-0.0061,0.0216,0.77790,191764,---+,9960099
9998,1:3142212:C:CT,1,3142212,C,CT,0.9418,-0.0047,0.0199,0.81500,191764,---+,9960399
9999,1:3142762:G:A,1,3142762,G,A,0.9828,-0.0084,0.0433,0.84620,191764,+--+,9960099

In [7]:
mysumstats.assign_rsid(ref_rsid_tsv=gl.get_path("1kg_dbsnp151_hg19_auto"))

Fri Jan 27 00:24:07 2023 Start to annotate rsID based on chromosome and position information...
Fri Jan 27 00:24:07 2023  -Current Dataframe shape : 10000  x  12
Fri Jan 27 00:24:07 2023  -SNPID-rsID text file: /home/he/.gwaslab/1kg_dbsnp151_hg19_auto.txt.gz
Fri Jan 27 00:24:07 2023  -10000 rsID could be possibly fixed...
Fri Jan 27 00:24:07 2023  -Setting block size:  5000000
Fri Jan 27 00:24:07 2023  -Loading block: 0   1   2   3   4   5   6   7   8   9   10   11   12   13   14   15
Fri Jan 27 00:28:37 2023  -rsID Annotation for 58 need to be fixed!
Fri Jan 27 00:28:37 2023  -Annotated 9942 rsID successfully!

In [8]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS,rsID
0,1:725932:G:A,1,725932,G,A,0.9960,-0.0737,0.1394,0.59700,166718,-?+-,9960099,rs565766235
1,1:725933:A:G,1,725933,G,A,0.0040,0.0737,0.1394,0.59730,166718,+?-+,9960099,rs534711480
2,1:737801:T:C,1,737801,C,T,0.0051,0.0490,0.1231,0.69080,166718,+?-+,9960099,rs540210562
3,1:749963:T:TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,-?++,9960399,rs529266287
4,1:751343:T:A,1,751343,T,A,0.8593,0.0172,0.0156,0.27050,166718,-?++,9960099,rs28544273
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1:3142135:T:C,1,3142135,C,T,0.1292,-0.0350,0.0191,0.06686,191764,----,9960099,rs55938238
9996,1:3142137:T:C,1,3142137,C,T,0.4886,-0.0014,0.0094,0.88070,191764,-0+-,9960099,rs7520225
9997,1:3142161:C:T,1,3142161,C,T,0.9476,-0.0061,0.0216,0.77790,191764,---+,9960099,rs151238770
9998,1:3142212:C:CT,1,3142212,C,CT,0.9418,-0.0047,0.0199,0.81500,191764,---+,9960399,rs137909285
9999,1:3142762:G:A,1,3142762,G,A,0.9828,-0.0084,0.0433,0.84620,191764,+--+,9960099,rs77575110

In [9]:
mysumstats.data.drop(labels=["SNPID","CHR","POS"],axis=1,inplace=True)

In [10]:
mysumstats.data

,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS,rsID
0,G,A,0.9960,-0.0737,0.1394,0.59700,166718,-?+-,9960099,rs565766235
1,G,A,0.0040,0.0737,0.1394,0.59730,166718,+?-+,9960099,rs534711480
2,C,T,0.0051,0.0490,0.1231,0.69080,166718,+?-+,9960099,rs540210562
3,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,-?++,9960399,rs529266287
4,T,A,0.8593,0.0172,0.0156,0.27050,166718,-?++,9960099,rs28544273
...,...,...,...,...,...,...,...,...,...,...
9995,C,T,0.1292,-0.0350,0.0191,0.06686,191764,----,9960099,rs55938238
9996,C,T,0.4886,-0.0014,0.0094,0.88070,191764,-0+-,9960099,rs7520225
9997,C,T,0.9476,-0.0061,0.0216,0.77790,191764,---+,9960099,rs151238770
9998,C,CT,0.9418,-0.0047,0.0199,0.81500,191764,---+,9960399,rs137909285
9999,G,A,0.9828,-0.0084,0.0433,0.84620,191764,+--+,9960099,rs77575110

In [11]:
gl.dump_pickle(mysumstats,"test")

Fri Jan 27 00:28:37 2023 Start to dump the Sumstats Object.
Fri Jan 27 00:28:37 2023  -File exists. Skipping. If you want to overwrite, please use overwrite=True.
Fri Jan 27 00:28:37 2023 Finished dumping.

# rsid to chr pos

In [2]:
mysumstats = gl.load_pickle("test")

Fri Jan 27 00:06:24 2023 Loaded dumped Sumstats object from :  test

In [3]:
mysumstats.rsid_to_chrpos(path=gl.get_path("1kg_dbsnp151_hg19_auto"),chunksize=10000000)

Fri Jan 27 00:06:24 2023 Start to update chromosome and position information based on rsID...
Fri Jan 27 00:06:24 2023  -Current Dataframe shape : 10000  x  10
Fri Jan 27 00:06:24 2023  -rsID dictionary file: /home/he/.gwaslab/1kg_dbsnp151_hg19_auto.txt.gz
Fri Jan 27 00:06:24 2023  -Setting block size:  10000000
Fri Jan 27 00:06:24 2023  -Loading block: 0   1   2   3   4   5   6   7
Fri Jan 27 00:11:44 2023  -Updating CHR and POS finished.Start to re-fixing CHR and POS...
Fri Jan 27 00:11:44 2023 Start to fix chromosome notation...
Fri Jan 27 00:11:44 2023  -Current Dataframe shape : 10000  x  12
Fri Jan 27 00:11:45 2023  -Vairants with standardized chromosome notation: 9942
Fri Jan 27 00:11:45 2023  -Vairants with fixable chromosome notations: 0
Fri Jan 27 00:11:45 2023  -Vairants with NA chromosome notations: 58
Fri Jan 27 00:11:45 2023  -No unrecognized chromosome notations...
Fri Jan 27 00:11:46 2023 Finished fixing chromosome notation successfully!
Fri Jan 27 00:11:46 2023 Start to fix basepair positions...
Fri Jan 27 00:11:46 2023  -Current Dataframe shape : 10000  x  12
Fri Jan 27 00:11:46 2023  -Converting to Int64 data type ...
Fri Jan 27 00:11:46 2023  -Position upper_bound is: 250,000,000
Fri Jan 27 00:11:46 2023  -Remove outliers: 0
Fri Jan 27 00:11:46 2023  -Converted all position to datatype Int64.
Fri Jan 27 00:11:46 2023 Finished fixing basepair position successfully!

In [4]:
mysumstats.data

,rsID,EA,NEA,EAF,BETA,SE,P,N,DIRECTION,STATUS,CHR,POS
0,rs565766235,G,A,0.9960,-0.0737,0.1394,0.59700,166718,-?+-,9960099,1,725932
1,rs534711480,G,A,0.0040,0.0737,0.1394,0.59730,166718,+?-+,9960099,1,725933
2,rs540210562,C,T,0.0051,0.0490,0.1231,0.69080,166718,+?-+,9960099,1,737801
3,rs529266287,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,-?++,9960399,1,749963
4,rs28544273,T,A,0.8593,0.0172,0.0156,0.27050,166718,-?++,9960099,1,751343
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,rs55938238,C,T,0.1292,-0.0350,0.0191,0.06686,191764,----,9960099,1,3142135
9996,rs7520225,C,T,0.4886,-0.0014,0.0094,0.88070,191764,-0+-,9960099,1,3142137
9997,rs151238770,C,T,0.9476,-0.0061,0.0216,0.77790,191764,---+,9960099,1,3142161
9998,rs137909285,C,CT,0.9418,-0.0047,0.0199,0.81500,191764,---+,9960399,1,3142212
9999,rs77575110,G,A,0.9828,-0.0084,0.0433,0.84620,191764,+--+,9960099,1,3142762