# Standardization Workflow

In [1]:
import sys
sys.path.insert(0,"/home/yunye/work/gwaslab/src/")
import gwaslab as gl

# Load sample data

In [2]:
mysumstats = gl.Sumstats("/home/yunye/work/gwaslab/examples/toy_data/dirty_sumstats.tsv",
             snpid="SNP",
             chrom="CHR",
             pos="POS",
             ea="ALT",
             nea="REF",
             neaf="Frq",
             beta="BETA",
             se="SE",
             p="P",
             n="N",
             other=["Note"])

Tue Jan 23 18:39:44 2024 GWASLab v3.4.36 https://cloufield.github.io/gwaslab/
Tue Jan 23 18:39:44 2024 (C) 2022-2024, Yunye He, Kamatani Lab, MIT License, gwaslab@gmail.com
Tue Jan 23 18:39:44 2024 Start to initiate from file :/home/yunye/work/gwaslab/examples/toy_data/dirty_sumstats.tsv
Tue Jan 23 18:39:44 2024  -Reading columns          : BETA,Note,REF,N,Frq,P,ALT,POS,CHR,SNP,SE
Tue Jan 23 18:39:44 2024  -Renaming columns to      : BETA,Note,NEA,N,EAF,P,EA,POS,CHR,SNPID,SE
Tue Jan 23 18:39:44 2024  -Current Dataframe shape : 41  x  11
Tue Jan 23 18:39:44 2024  -Initiating a status column: STATUS ...
Tue Jan 23 18:39:44 2024  -Version of genomic coordinates are unknown...
Tue Jan 23 18:39:44 2024  -NEAF is specified...
Tue Jan 23 18:39:44 2024  -Checking if 0<= NEAF <=1 ...
Tue Jan 23 18:39:44 2024  -Converted NEAF to EAF.
Tue Jan 23 18:39:44 2024  -Removed 2 variants with bad NEAF.
Tue Jan 23 18:39:44 2024 Start to reorder the columns...v3.4.36
Tue Jan 23 18:39:44 2024  -Current Dataframe shape : 39  x  12
Tue Jan 23 18:39:44 2024  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,STATUS,Note
Tue Jan 23 18:39:44 2024 Finished sorting columns successfully!
Tue Jan 23 18:39:44 2024  -Column  : SNPID  CHR    POS     EA       NEA      EAF     BETA    SE      P       N     STATUS   Note
Tue Jan 23 18:39:44 2024  -DType   : object string float64 category category float64 float64 float64 float64 int64 category object
Tue Jan 23 18:39:44 2024  -Verified: T      F      F       T        T        T       T       T       T       T     T        NA
Tue Jan 23 18:39:44 2024  -WARNING! Columns with possibly incompatable dtypes: CHR,POS
Tue Jan 23 18:39:44 2024 Finished loading data successfully!

/home/yunye/work/gwaslab/src/gwaslab/io_preformat_input.py:453: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sumstats.loc[:,"EAF"] = 1- sumstats.loc[:,"EAF"]

In [3]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,STATUS,Note
0,1:1_G_A,1,1.000000e+00,G,A,0.9960,-0.0737,0.1394,0.59700,191764,9999999,Duplicated
1,1:1_A_G,1,1.000000e+00,G,A,0.0040,0.0737,0.1394,0.59730,166718,9999999,Duplicated
2,1:1_A_G,1,1.000000e+00,G,A,0.0040,0.0737,0.1394,0.59750,166718,9999999,Duplicated
3,1:2,1,2.000000e+00,C,T,0.0051,0.0490,0.1231,0.69080,166718,9999999,Multiallelic
4,1:2,1,2.000000e+00,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,9999999,Multiallelic
5,1:3_T_A,1,3.000000e+00,T,A,0.8593,0.0172,0.0156,0.27050,166718,9999999,Multiallelic
6,1:3_T_GA,1,3.000000e+00,GA,T,0.1470,-0.0187,0.0174,0.28300,166718,9999999,Multiallelic
7,1:4_T_C,1,4.000000e+00,C,T,0.1400,-0.0172,0.0156,0.27050,191764,9999999,NaN
8,1:5_G_A,1,5.000000e+00,G,A,0.1578,-0.0155,0.0131,0.23500,166718,9999999,Flipped
9,1:6_A_G,1,6.000000e+00,G,A,0.7493,0.0204,0.0147,0.16500,166718,9999999,NaN
10,1:7_A_G,1,7.000000e+00,G,A,0.7493,0.0204,0.0147,0.16500,166718,9999999,NaN
11,1:8_G_C,1,8.000000e+00,G,C,0.9866,-0.1439,0.0748,0.05451,166718,9999999,NaN
12,1:9_A_G,1,9.000000e+00,G,A,0.1327,0.0035,0.0146,0.80870,166718,9999999,NaN
13,1:10_G_A,1,1.000000e+01,G,A,0.8522,0.0302,0.0157,0.05421,166718,9999999,NaN
14,1:11_T_C,1,1.100000e+01,C,T,0.0027,0.1858,0.1546,0.22930,166718,9999999,NaN
15,1:12_A_G,1,1.200000e+01,G,A,0.0131,0.1430,0.0747,0.05575,166718,9999999,NaN
16,1:13_C_T,1,1.300000e+01,C,T,0.7445,-0.0135,0.0137,0.32450,191764,9999999,NaN
17,1:14_C_A,1,1.400000e+01,C,A,0.4544,-0.0170,0.0138,0.21910,166718,9999999,NaN
18,1:15_C_T,1,1.500000e+01,C,T,0.8516,0.0292,0.0156,0.06173,166718,9999999,NaN
19,1:16_A_G,X,1.600000e+01,G,A,0.1642,0.0099,0.0146,0.49750,166718,9999999,Sex chromosomes
20,1:17_G_A,chr1,1.700000e+01,G,A,0.7428,-0.0119,0.0131,0.36210,166718,9999999,CHR with prefix
21,1:1_G_A,Chr1,1.800000e+01,G,A,0.8699,-0.0038,0.0161,0.81540,166718,9999999,CHR with prefix
22,1:19:T:C,-1,1.900000e+01,C,T,0.0361,0.0670,0.0453,0.13880,166718,9999999,CHR < 0
23,1:18_A_G,1,2.000000e+01,G,A,0.7316,0.0013,0.0147,0.93200,191764,9999999,NaN
24,1:18_A_G,1,2.100000e+01,G,A,0.7316,0.0013,0.0147,0.93200,166718,9999999,NaN
25,1:18_A_G,1,2.200000e+01,G,A,0.7316,0.0013,0.0147,0.93200,166718,9999999,NaN
26,1:18_A_G,1,1.232140e+13,G,A,0.7316,0.0013,0.0147,0.93200,166718,9999999,POS out of normal range
27,1:25:A:G,1,2.500000e+01,G,A,0.8220,0.0199,0.0139,0.15350,166718,9999999,POS float
28,1:864002_G_C,1,8.640020e+05,A,A,0.8666,0.0013,0.0155,0.93090,166718,9999999,Same alleles
29,1:864615_G_A,1,8.646150e+05,g,a,0.8725,0.0275,0.0158,0.08092,166718,9999999,Lowercase alleles
30,1:864701_A_G,1,8.647010e+05,<CN1>,A,0.0150,0.1306,0.0680,0.05466,166718,9999999,Unrecognized alleles
31,1:864755_A_G,1,8.647550e+05,N,A,0.8242,0.0163,0.0165,0.32220,166718,9999999,Unrecognized alleles
32,1:864757_G_A,1,8.647570e+05,GT,AT,0.1758,-0.0164,0.0165,0.31990,166718,9999999,Not normalizated allelels
35,1:865219_G_A,1,8.652190e+05,G,A,0.8685,300.0000,0.0161,0.79480,166718,9999999,BETA out of range
36,1:865367_G_T,1,8.653670e+05,G,T,0.8486,-300.0000,0.0138,0.05270,166718,9999999,BETA out of range
37,1:865438_C_T,1,8.654380e+05,C,T,0.9849,-0.1299,-0.0680,0.05601,166718,9999999,SE out of range
38,1:865694_C_T,1,8.656940e+05,C,T,0.8489,0.0265,0.0132,-0.04424,166718,9999999,P out of range
39,1:866893_T_C,1,8.668930e+05,C,T,0.3104,0.0058,0.0137,1.67220,166718,9999999,P out of range
40,1:866938_G_A,1,8.669380e+05,G,A,0.6028,-0.0104,0.0121,0.38960,-1,9999999,N out of range

## fix id

In [4]:
mysumstats.fix_id(fixsep=True)

Tue Jan 23 18:39:45 2024 Start to check IDs...v3.4.36
Tue Jan 23 18:39:45 2024  -Current Dataframe shape : 39  x  12
Tue Jan 23 18:39:45 2024  -Checking if SNPID is chr:pos:ref:alt...(separator: - ,: , _)
Tue Jan 23 18:39:46 2024  -Replacing [_-] in SNPID with ":" ...
Tue Jan 23 18:39:46 2024 Finished checking IDs successfully!

In [5]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,STATUS,Note
0,1:1:G:A,1,1.000000e+00,G,A,0.9960,-0.0737,0.1394,0.59700,191764,9969999,Duplicated
1,1:1:A:G,1,1.000000e+00,G,A,0.0040,0.0737,0.1394,0.59730,166718,9969999,Duplicated
2,1:1:A:G,1,1.000000e+00,G,A,0.0040,0.0737,0.1394,0.59750,166718,9969999,Duplicated
3,1:2,1,2.000000e+00,C,T,0.0051,0.0490,0.1231,0.69080,166718,9989999,Multiallelic
4,1:2,1,2.000000e+00,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,9989999,Multiallelic
5,1:3:T:A,1,3.000000e+00,T,A,0.8593,0.0172,0.0156,0.27050,166718,9969999,Multiallelic
6,1:3:T:GA,1,3.000000e+00,GA,T,0.1470,-0.0187,0.0174,0.28300,166718,9969999,Multiallelic
7,1:4:T:C,1,4.000000e+00,C,T,0.1400,-0.0172,0.0156,0.27050,191764,9969999,NaN
8,1:5:G:A,1,5.000000e+00,G,A,0.1578,-0.0155,0.0131,0.23500,166718,9969999,Flipped
9,1:6:A:G,1,6.000000e+00,G,A,0.7493,0.0204,0.0147,0.16500,166718,9969999,NaN
10,1:7:A:G,1,7.000000e+00,G,A,0.7493,0.0204,0.0147,0.16500,166718,9969999,NaN
11,1:8:G:C,1,8.000000e+00,G,C,0.9866,-0.1439,0.0748,0.05451,166718,9969999,NaN
12,1:9:A:G,1,9.000000e+00,G,A,0.1327,0.0035,0.0146,0.80870,166718,9969999,NaN
13,1:10:G:A,1,1.000000e+01,G,A,0.8522,0.0302,0.0157,0.05421,166718,9969999,NaN
14,1:11:T:C,1,1.100000e+01,C,T,0.0027,0.1858,0.1546,0.22930,166718,9969999,NaN
15,1:12:A:G,1,1.200000e+01,G,A,0.0131,0.1430,0.0747,0.05575,166718,9969999,NaN
16,1:13:C:T,1,1.300000e+01,C,T,0.7445,-0.0135,0.0137,0.32450,191764,9969999,NaN
17,1:14:C:A,1,1.400000e+01,C,A,0.4544,-0.0170,0.0138,0.21910,166718,9969999,NaN
18,1:15:C:T,1,1.500000e+01,C,T,0.8516,0.0292,0.0156,0.06173,166718,9969999,NaN
19,1:16:A:G,X,1.600000e+01,G,A,0.1642,0.0099,0.0146,0.49750,166718,9969999,Sex chromosomes
20,1:17:G:A,chr1,1.700000e+01,G,A,0.7428,-0.0119,0.0131,0.36210,166718,9969999,CHR with prefix
21,1:1:G:A,Chr1,1.800000e+01,G,A,0.8699,-0.0038,0.0161,0.81540,166718,9969999,CHR with prefix
22,1:19:T:C,-1,1.900000e+01,C,T,0.0361,0.0670,0.0453,0.13880,166718,9969999,CHR < 0
23,1:18:A:G,1,2.000000e+01,G,A,0.7316,0.0013,0.0147,0.93200,191764,9969999,NaN
24,1:18:A:G,1,2.100000e+01,G,A,0.7316,0.0013,0.0147,0.93200,166718,9969999,NaN
25,1:18:A:G,1,2.200000e+01,G,A,0.7316,0.0013,0.0147,0.93200,166718,9969999,NaN
26,1:18:A:G,1,1.232140e+13,G,A,0.7316,0.0013,0.0147,0.93200,166718,9969999,POS out of normal range
27,1:25:A:G,1,2.500000e+01,G,A,0.8220,0.0199,0.0139,0.15350,166718,9969999,POS float
28,1:864002:G:C,1,8.640020e+05,A,A,0.8666,0.0013,0.0155,0.93090,166718,9969999,Same alleles
29,1:864615:G:A,1,8.646150e+05,g,a,0.8725,0.0275,0.0158,0.08092,166718,9969999,Lowercase alleles
30,1:864701:A:G,1,8.647010e+05,<CN1>,A,0.0150,0.1306,0.0680,0.05466,166718,9969999,Unrecognized alleles
31,1:864755:A:G,1,8.647550e+05,N,A,0.8242,0.0163,0.0165,0.32220,166718,9969999,Unrecognized alleles
32,1:864757:G:A,1,8.647570e+05,GT,AT,0.1758,-0.0164,0.0165,0.31990,166718,9969999,Not normalizated allelels
35,1:865219:G:A,1,8.652190e+05,G,A,0.8685,300.0000,0.0161,0.79480,166718,9969999,BETA out of range
36,1:865367:G:T,1,8.653670e+05,G,T,0.8486,-300.0000,0.0138,0.05270,166718,9969999,BETA out of range
37,1:865438:C:T,1,8.654380e+05,C,T,0.9849,-0.1299,-0.0680,0.05601,166718,9969999,SE out of range
38,1:865694:C:T,1,8.656940e+05,C,T,0.8489,0.0265,0.0132,-0.04424,166718,9969999,P out of range
39,1:866893:T:C,1,8.668930e+05,C,T,0.3104,0.0058,0.0137,1.67220,166718,9969999,P out of range
40,1:866938:G:A,1,8.669380e+05,G,A,0.6028,-0.0104,0.0121,0.38960,-1,9969999,N out of range

## fix chromosome

In [8]:
mysumstats.fix_chr(remove=True)

Tue Jan 23 18:40:01 2024 Start to fix chromosome notation...v3.4.36
Tue Jan 23 18:40:01 2024  -Current Dataframe shape : 39  x  12
Tue Jan 23 18:40:01 2024  -Checking CHR data type...
Tue Jan 23 18:40:01 2024  -Variants with standardized chromosome notation: 38
Tue Jan 23 18:40:01 2024  -Variants with fixable chromosome notations: 0
Tue Jan 23 18:40:01 2024  -Variants with NA chromosome notations: 1
Tue Jan 23 18:40:01 2024  -No unrecognized chromosome notations...
Tue Jan 23 18:40:03 2024  -Removed 1 variants with unrecognized chromosome notations.
Tue Jan 23 18:40:03 2024  -Sanity check for CHR...
Tue Jan 23 18:40:03 2024  -Removed 0 variants with CHR < 1...
Tue Jan 23 18:40:03 2024 Finished fixing chromosome notation successfully!

In [9]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,STATUS,Note
0,1:1:G:A,1,1.000000e+00,G,A,0.9960,-0.0737,0.1394,0.59700,191764,9965999,Duplicated
1,1:1:A:G,1,1.000000e+00,G,A,0.0040,0.0737,0.1394,0.59730,166718,9965999,Duplicated
2,1:1:A:G,1,1.000000e+00,G,A,0.0040,0.0737,0.1394,0.59750,166718,9965999,Duplicated
3,1:2,1,2.000000e+00,C,T,0.0051,0.0490,0.1231,0.69080,166718,9985999,Multiallelic
4,1:2,1,2.000000e+00,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,9985999,Multiallelic
5,1:3:T:A,1,3.000000e+00,T,A,0.8593,0.0172,0.0156,0.27050,166718,9965999,Multiallelic
6,1:3:T:GA,1,3.000000e+00,GA,T,0.1470,-0.0187,0.0174,0.28300,166718,9965999,Multiallelic
7,1:4:T:C,1,4.000000e+00,C,T,0.1400,-0.0172,0.0156,0.27050,191764,9965999,NaN
8,1:5:G:A,1,5.000000e+00,G,A,0.1578,-0.0155,0.0131,0.23500,166718,9965999,Flipped
9,1:6:A:G,1,6.000000e+00,G,A,0.7493,0.0204,0.0147,0.16500,166718,9965999,NaN
10,1:7:A:G,1,7.000000e+00,G,A,0.7493,0.0204,0.0147,0.16500,166718,9965999,NaN
11,1:8:G:C,1,8.000000e+00,G,C,0.9866,-0.1439,0.0748,0.05451,166718,9965999,NaN
12,1:9:A:G,1,9.000000e+00,G,A,0.1327,0.0035,0.0146,0.80870,166718,9965999,NaN
13,1:10:G:A,1,1.000000e+01,G,A,0.8522,0.0302,0.0157,0.05421,166718,9965999,NaN
14,1:11:T:C,1,1.100000e+01,C,T,0.0027,0.1858,0.1546,0.22930,166718,9965999,NaN
15,1:12:A:G,1,1.200000e+01,G,A,0.0131,0.1430,0.0747,0.05575,166718,9965999,NaN
16,1:13:C:T,1,1.300000e+01,C,T,0.7445,-0.0135,0.0137,0.32450,191764,9965999,NaN
17,1:14:C:A,1,1.400000e+01,C,A,0.4544,-0.0170,0.0138,0.21910,166718,9965999,NaN
18,1:15:C:T,1,1.500000e+01,C,T,0.8516,0.0292,0.0156,0.06173,166718,9965999,NaN
19,1:16:A:G,23,1.600000e+01,G,A,0.1642,0.0099,0.0146,0.49750,166718,9965999,Sex chromosomes
20,1:17:G:A,1,1.700000e+01,G,A,0.7428,-0.0119,0.0131,0.36210,166718,9965999,CHR with prefix
21,1:1:G:A,1,1.800000e+01,G,A,0.8699,-0.0038,0.0161,0.81540,166718,9965999,CHR with prefix
23,1:18:A:G,1,2.000000e+01,G,A,0.7316,0.0013,0.0147,0.93200,191764,9965999,NaN
24,1:18:A:G,1,2.100000e+01,G,A,0.7316,0.0013,0.0147,0.93200,166718,9965999,NaN
25,1:18:A:G,1,2.200000e+01,G,A,0.7316,0.0013,0.0147,0.93200,166718,9965999,NaN
26,1:18:A:G,1,1.232140e+13,G,A,0.7316,0.0013,0.0147,0.93200,166718,9965999,POS out of normal range
27,1:25:A:G,1,2.500000e+01,G,A,0.8220,0.0199,0.0139,0.15350,166718,9965999,POS float
28,1:864002:G:C,1,8.640020e+05,A,A,0.8666,0.0013,0.0155,0.93090,166718,9965999,Same alleles
29,1:864615:G:A,1,8.646150e+05,g,a,0.8725,0.0275,0.0158,0.08092,166718,9965999,Lowercase alleles
30,1:864701:A:G,1,8.647010e+05,<CN1>,A,0.0150,0.1306,0.0680,0.05466,166718,9965999,Unrecognized alleles
31,1:864755:A:G,1,8.647550e+05,N,A,0.8242,0.0163,0.0165,0.32220,166718,9965999,Unrecognized alleles
32,1:864757:G:A,1,8.647570e+05,GT,AT,0.1758,-0.0164,0.0165,0.31990,166718,9965999,Not normalizated allelels
35,1:865219:G:A,1,8.652190e+05,G,A,0.8685,300.0000,0.0161,0.79480,166718,9965999,BETA out of range
36,1:865367:G:T,1,8.653670e+05,G,T,0.8486,-300.0000,0.0138,0.05270,166718,9965999,BETA out of range
37,1:865438:C:T,1,8.654380e+05,C,T,0.9849,-0.1299,-0.0680,0.05601,166718,9965999,SE out of range
38,1:865694:C:T,1,8.656940e+05,C,T,0.8489,0.0265,0.0132,-0.04424,166718,9965999,P out of range
39,1:866893:T:C,1,8.668930e+05,C,T,0.3104,0.0058,0.0137,1.67220,166718,9965999,P out of range
40,1:866938:G:A,1,8.669380e+05,G,A,0.6028,-0.0104,0.0121,0.38960,-1,9965999,N out of range

## fix position

In [10]:
mysumstats.fix_pos(remove=True)

Tue Jan 23 18:40:19 2024 Start to fix basepair positions...v3.4.36
Tue Jan 23 18:40:19 2024  -Current Dataframe shape : 38  x  12
Tue Jan 23 18:40:19 2024  -Converting to Int64 data type ...
Tue Jan 23 18:40:19 2024  -Force converting to Int64 data type ...
Tue Jan 23 18:40:20 2024  -Position upper_bound is: 250,000,000
Tue Jan 23 18:40:20 2024  -Remove outliers: 1
Tue Jan 23 18:40:20 2024  -Removed 1 variants with bad positions.
Tue Jan 23 18:40:20 2024  -Converted all position to datatype Int64.
Tue Jan 23 18:40:20 2024 Finished fixing basepair position successfully!

In [11]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,STATUS,Note
0,1:1:G:A,1,1,G,A,0.9960,-0.0737,0.1394,0.59700,191764,9960999,Duplicated
1,1:1:A:G,1,1,G,A,0.0040,0.0737,0.1394,0.59730,166718,9960999,Duplicated
2,1:1:A:G,1,1,G,A,0.0040,0.0737,0.1394,0.59750,166718,9960999,Duplicated
3,1:2,1,2,C,T,0.0051,0.0490,0.1231,0.69080,166718,9980999,Multiallelic
4,1:2,1,2,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,9980999,Multiallelic
5,1:3:T:A,1,3,T,A,0.8593,0.0172,0.0156,0.27050,166718,9960999,Multiallelic
6,1:3:T:GA,1,3,GA,T,0.1470,-0.0187,0.0174,0.28300,166718,9960999,Multiallelic
7,1:4:T:C,1,4,C,T,0.1400,-0.0172,0.0156,0.27050,191764,9960999,NaN
8,1:5:G:A,1,5,G,A,0.1578,-0.0155,0.0131,0.23500,166718,9960999,Flipped
9,1:6:A:G,1,6,G,A,0.7493,0.0204,0.0147,0.16500,166718,9960999,NaN
10,1:7:A:G,1,7,G,A,0.7493,0.0204,0.0147,0.16500,166718,9960999,NaN
11,1:8:G:C,1,8,G,C,0.9866,-0.1439,0.0748,0.05451,166718,9960999,NaN
12,1:9:A:G,1,9,G,A,0.1327,0.0035,0.0146,0.80870,166718,9960999,NaN
13,1:10:G:A,1,10,G,A,0.8522,0.0302,0.0157,0.05421,166718,9960999,NaN
14,1:11:T:C,1,11,C,T,0.0027,0.1858,0.1546,0.22930,166718,9960999,NaN
15,1:12:A:G,1,12,G,A,0.0131,0.1430,0.0747,0.05575,166718,9960999,NaN
16,1:13:C:T,1,13,C,T,0.7445,-0.0135,0.0137,0.32450,191764,9960999,NaN
17,1:14:C:A,1,14,C,A,0.4544,-0.0170,0.0138,0.21910,166718,9960999,NaN
18,1:15:C:T,1,15,C,T,0.8516,0.0292,0.0156,0.06173,166718,9960999,NaN
19,1:16:A:G,23,16,G,A,0.1642,0.0099,0.0146,0.49750,166718,9960999,Sex chromosomes
20,1:17:G:A,1,17,G,A,0.7428,-0.0119,0.0131,0.36210,166718,9960999,CHR with prefix
21,1:1:G:A,1,18,G,A,0.8699,-0.0038,0.0161,0.81540,166718,9960999,CHR with prefix
23,1:18:A:G,1,20,G,A,0.7316,0.0013,0.0147,0.93200,191764,9960999,NaN
24,1:18:A:G,1,21,G,A,0.7316,0.0013,0.0147,0.93200,166718,9960999,NaN
25,1:18:A:G,1,22,G,A,0.7316,0.0013,0.0147,0.93200,166718,9960999,NaN
27,1:25:A:G,1,25,G,A,0.8220,0.0199,0.0139,0.15350,166718,9960999,POS float
28,1:864002:G:C,1,864002,A,A,0.8666,0.0013,0.0155,0.93090,166718,9960999,Same alleles
29,1:864615:G:A,1,864615,g,a,0.8725,0.0275,0.0158,0.08092,166718,9960999,Lowercase alleles
30,1:864701:A:G,1,864701,<CN1>,A,0.0150,0.1306,0.0680,0.05466,166718,9960999,Unrecognized alleles
31,1:864755:A:G,1,864755,N,A,0.8242,0.0163,0.0165,0.32220,166718,9960999,Unrecognized alleles
32,1:864757:G:A,1,864757,GT,AT,0.1758,-0.0164,0.0165,0.31990,166718,9960999,Not normalizated allelels
35,1:865219:G:A,1,865219,G,A,0.8685,300.0000,0.0161,0.79480,166718,9960999,BETA out of range
36,1:865367:G:T,1,865367,G,T,0.8486,-300.0000,0.0138,0.05270,166718,9960999,BETA out of range
37,1:865438:C:T,1,865438,C,T,0.9849,-0.1299,-0.0680,0.05601,166718,9960999,SE out of range
38,1:865694:C:T,1,865694,C,T,0.8489,0.0265,0.0132,-0.04424,166718,9960999,P out of range
39,1:866893:T:C,1,866893,C,T,0.3104,0.0058,0.0137,1.67220,166718,9960999,P out of range
40,1:866938:G:A,1,866938,G,A,0.6028,-0.0104,0.0121,0.38960,-1,9960999,N out of range

## fix allele

In [12]:
mysumstats.fix_allele(remove=True)

Tue Jan 23 18:40:42 2024 Start to fix alleles...v3.4.36
Tue Jan 23 18:40:42 2024  -Current Dataframe shape : 37  x  12
Tue Jan 23 18:40:42 2024  -Converted all bases to string datatype and UPPERCASE.
Tue Jan 23 18:40:42 2024  -Variants with bad EA  : 2
Tue Jan 23 18:40:42 2024  -Variants with bad NEA : 0
Tue Jan 23 18:40:42 2024  -Variants with NA for EA or NEA: 0
Tue Jan 23 18:40:42 2024  -Variants with same EA and NEA: 1
Tue Jan 23 18:40:42 2024  -A look at the non-ATCG EA: {'<CN1>', 'N'} ...
Tue Jan 23 18:40:42 2024  -Removed 2 variants with NA alleles or alleles that contain bases other than A/C/T/G.
Tue Jan 23 18:40:42 2024  -Removed 1 variants with same allele for EA and NEA.
Tue Jan 23 18:40:42 2024 Finished fixing allele successfully!

In [13]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,STATUS,Note
0,1:1:G:A,1,1,G,A,0.9960,-0.0737,0.1394,0.59700,191764,9960099,Duplicated
1,1:1:A:G,1,1,G,A,0.0040,0.0737,0.1394,0.59730,166718,9960099,Duplicated
2,1:1:A:G,1,1,G,A,0.0040,0.0737,0.1394,0.59750,166718,9960099,Duplicated
3,1:2,1,2,C,T,0.0051,0.0490,0.1231,0.69080,166718,9980099,Multiallelic
4,1:2,1,2,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,9980399,Multiallelic
5,1:3:T:A,1,3,T,A,0.8593,0.0172,0.0156,0.27050,166718,9960099,Multiallelic
6,1:3:T:GA,1,3,GA,T,0.1470,-0.0187,0.0174,0.28300,166718,9960399,Multiallelic
7,1:4:T:C,1,4,C,T,0.1400,-0.0172,0.0156,0.27050,191764,9960099,NaN
8,1:5:G:A,1,5,G,A,0.1578,-0.0155,0.0131,0.23500,166718,9960099,Flipped
9,1:6:A:G,1,6,G,A,0.7493,0.0204,0.0147,0.16500,166718,9960099,NaN
10,1:7:A:G,1,7,G,A,0.7493,0.0204,0.0147,0.16500,166718,9960099,NaN
11,1:8:G:C,1,8,G,C,0.9866,-0.1439,0.0748,0.05451,166718,9960099,NaN
12,1:9:A:G,1,9,G,A,0.1327,0.0035,0.0146,0.80870,166718,9960099,NaN
13,1:10:G:A,1,10,G,A,0.8522,0.0302,0.0157,0.05421,166718,9960099,NaN
14,1:11:T:C,1,11,C,T,0.0027,0.1858,0.1546,0.22930,166718,9960099,NaN
15,1:12:A:G,1,12,G,A,0.0131,0.1430,0.0747,0.05575,166718,9960099,NaN
16,1:13:C:T,1,13,C,T,0.7445,-0.0135,0.0137,0.32450,191764,9960099,NaN
17,1:14:C:A,1,14,C,A,0.4544,-0.0170,0.0138,0.21910,166718,9960099,NaN
18,1:15:C:T,1,15,C,T,0.8516,0.0292,0.0156,0.06173,166718,9960099,NaN
19,1:16:A:G,23,16,G,A,0.1642,0.0099,0.0146,0.49750,166718,9960099,Sex chromosomes
20,1:17:G:A,1,17,G,A,0.7428,-0.0119,0.0131,0.36210,166718,9960099,CHR with prefix
21,1:1:G:A,1,18,G,A,0.8699,-0.0038,0.0161,0.81540,166718,9960099,CHR with prefix
23,1:18:A:G,1,20,G,A,0.7316,0.0013,0.0147,0.93200,191764,9960099,NaN
24,1:18:A:G,1,21,G,A,0.7316,0.0013,0.0147,0.93200,166718,9960099,NaN
25,1:18:A:G,1,22,G,A,0.7316,0.0013,0.0147,0.93200,166718,9960099,NaN
27,1:25:A:G,1,25,G,A,0.8220,0.0199,0.0139,0.15350,166718,9960099,POS float
29,1:864615:G:A,1,864615,G,A,0.8725,0.0275,0.0158,0.08092,166718,9960099,Lowercase alleles
32,1:864757:G:A,1,864757,GT,AT,0.1758,-0.0164,0.0165,0.31990,166718,9960599,Not normalizated allelels
35,1:865219:G:A,1,865219,G,A,0.8685,300.0000,0.0161,0.79480,166718,9960099,BETA out of range
36,1:865367:G:T,1,865367,G,T,0.8486,-300.0000,0.0138,0.05270,166718,9960099,BETA out of range
37,1:865438:C:T,1,865438,C,T,0.9849,-0.1299,-0.0680,0.05601,166718,9960099,SE out of range
38,1:865694:C:T,1,865694,C,T,0.8489,0.0265,0.0132,-0.04424,166718,9960099,P out of range
39,1:866893:T:C,1,866893,C,T,0.3104,0.0058,0.0137,1.67220,166718,9960099,P out of range
40,1:866938:G:A,1,866938,G,A,0.6028,-0.0104,0.0121,0.38960,-1,9960099,N out of range

## sanity check for statistics

In [14]:
mysumstats.check_sanity()

Tue Jan 23 18:41:08 2024 Start sanity check for statistics...v3.4.36
Tue Jan 23 18:41:08 2024  -Current Dataframe shape : 34  x  12
Tue Jan 23 18:41:08 2024  -Comparison tolerance for floats: 1e-07
Tue Jan 23 18:41:08 2024  -Checking if  0 <=N<= 2147483647  ...
Tue Jan 23 18:41:08 2024  -Removed 1 variants with bad N.
Tue Jan 23 18:41:08 2024  -Checking if  -1e-07 <EAF< 1.0000001  ...
Tue Jan 23 18:41:08 2024  -Removed 0 variants with bad EAF.
Tue Jan 23 18:41:08 2024  -Checking if  0 <=MAC<= 2147483647  ...
Tue Jan 23 18:41:08 2024  -Removed 0 variants with bad MAC.
Tue Jan 23 18:41:08 2024  -Checking if  -1e-07 < P < 1.0000001  ...
Tue Jan 23 18:41:08 2024  -Removed 2 variants with bad P.
Tue Jan 23 18:41:08 2024  -Checking if  -100.0000001 <BETA< 100.0000001  ...
Tue Jan 23 18:41:08 2024  -Removed 2 variants with bad BETA.
Tue Jan 23 18:41:08 2024  -Checking if  -1e-07 <SE< inf  ...
Tue Jan 23 18:41:08 2024  -Removed 1 variants with bad SE.
Tue Jan 23 18:41:08 2024  -Checking STATUS and converting STATUS to categories....
Tue Jan 23 18:41:08 2024  -Removed 0 variants with NAs in the checked columns...
Tue Jan 23 18:41:08 2024  -Removed 6 variants with bad statistics in total.
Tue Jan 23 18:41:08 2024  -Data types for each column:
Tue Jan 23 18:41:08 2024  -Column  : SNPID  CHR   POS   EA       NEA      EAF     BETA    SE      P       N     STATUS   Note
Tue Jan 23 18:41:08 2024  -DType   : object Int64 Int64 category category float32 float64 float64 float64 Int32 category object
Tue Jan 23 18:41:08 2024  -Verified: T      T     T     T        T        T       T       T       T       T     T        NA
Tue Jan 23 18:41:08 2024 Finished sanity check successfully!

In [15]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,STATUS,Note
0,1:1:G:A,1,1,G,A,0.9960,-0.0737,0.1394,0.59700,191764,9960099,Duplicated
1,1:1:A:G,1,1,G,A,0.0040,0.0737,0.1394,0.59730,166718,9960099,Duplicated
2,1:1:A:G,1,1,G,A,0.0040,0.0737,0.1394,0.59750,166718,9960099,Duplicated
3,1:2,1,2,C,T,0.0051,0.0490,0.1231,0.69080,166718,9980099,Multiallelic
4,1:2,1,2,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,9980399,Multiallelic
5,1:3:T:A,1,3,T,A,0.8593,0.0172,0.0156,0.27050,166718,9960099,Multiallelic
6,1:3:T:GA,1,3,GA,T,0.1470,-0.0187,0.0174,0.28300,166718,9960399,Multiallelic
7,1:4:T:C,1,4,C,T,0.1400,-0.0172,0.0156,0.27050,191764,9960099,NaN
8,1:5:G:A,1,5,G,A,0.1578,-0.0155,0.0131,0.23500,166718,9960099,Flipped
9,1:6:A:G,1,6,G,A,0.7493,0.0204,0.0147,0.16500,166718,9960099,NaN
10,1:7:A:G,1,7,G,A,0.7493,0.0204,0.0147,0.16500,166718,9960099,NaN
11,1:8:G:C,1,8,G,C,0.9866,-0.1439,0.0748,0.05451,166718,9960099,NaN
12,1:9:A:G,1,9,G,A,0.1327,0.0035,0.0146,0.80870,166718,9960099,NaN
13,1:10:G:A,1,10,G,A,0.8522,0.0302,0.0157,0.05421,166718,9960099,NaN
14,1:11:T:C,1,11,C,T,0.0027,0.1858,0.1546,0.22930,166718,9960099,NaN
15,1:12:A:G,1,12,G,A,0.0131,0.1430,0.0747,0.05575,166718,9960099,NaN
16,1:13:C:T,1,13,C,T,0.7445,-0.0135,0.0137,0.32450,191764,9960099,NaN
17,1:14:C:A,1,14,C,A,0.4544,-0.0170,0.0138,0.21910,166718,9960099,NaN
18,1:15:C:T,1,15,C,T,0.8516,0.0292,0.0156,0.06173,166718,9960099,NaN
19,1:16:A:G,23,16,G,A,0.1642,0.0099,0.0146,0.49750,166718,9960099,Sex chromosomes
20,1:17:G:A,1,17,G,A,0.7428,-0.0119,0.0131,0.36210,166718,9960099,CHR with prefix
21,1:1:G:A,1,18,G,A,0.8699,-0.0038,0.0161,0.81540,166718,9960099,CHR with prefix
23,1:18:A:G,1,20,G,A,0.7316,0.0013,0.0147,0.93200,191764,9960099,NaN
24,1:18:A:G,1,21,G,A,0.7316,0.0013,0.0147,0.93200,166718,9960099,NaN
25,1:18:A:G,1,22,G,A,0.7316,0.0013,0.0147,0.93200,166718,9960099,NaN
27,1:25:A:G,1,25,G,A,0.8220,0.0199,0.0139,0.15350,166718,9960099,POS float
29,1:864615:G:A,1,864615,G,A,0.8725,0.0275,0.0158,0.08092,166718,9960099,Lowercase alleles
32,1:864757:G:A,1,864757,GT,AT,0.1758,-0.0164,0.0165,0.31990,166718,9960599,Not normalizated allelels

## normalize variants

In [16]:
mysumstats.normalize_allele()

Tue Jan 23 18:41:20 2024 Start to normalize variants...v3.4.36
Tue Jan 23 18:41:20 2024  -Current Dataframe shape : 28  x  12
Tue Jan 23 18:41:21 2024  -Not normalized allele IDs:1:864757:G:A ...
Tue Jan 23 18:41:21 2024  -Not normalized allele:['GT' 'AT']...
Tue Jan 23 18:41:21 2024  -Modified 1 variants according to parsimony and left alignment principal.
Tue Jan 23 18:41:21 2024 Finished normalizing variants successfully!

In [17]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,STATUS,Note
0,1:1:G:A,1,1,G,A,0.9960,-0.0737,0.1394,0.59700,191764,9960099,Duplicated
1,1:1:A:G,1,1,G,A,0.0040,0.0737,0.1394,0.59730,166718,9960099,Duplicated
2,1:1:A:G,1,1,G,A,0.0040,0.0737,0.1394,0.59750,166718,9960099,Duplicated
3,1:2,1,2,C,T,0.0051,0.0490,0.1231,0.69080,166718,9980099,Multiallelic
4,1:2,1,2,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,9980399,Multiallelic
5,1:3:T:A,1,3,T,A,0.8593,0.0172,0.0156,0.27050,166718,9960099,Multiallelic
6,1:3:T:GA,1,3,GA,T,0.1470,-0.0187,0.0174,0.28300,166718,9960399,Multiallelic
7,1:4:T:C,1,4,C,T,0.1400,-0.0172,0.0156,0.27050,191764,9960099,NaN
8,1:5:G:A,1,5,G,A,0.1578,-0.0155,0.0131,0.23500,166718,9960099,Flipped
9,1:6:A:G,1,6,G,A,0.7493,0.0204,0.0147,0.16500,166718,9960099,NaN
10,1:7:A:G,1,7,G,A,0.7493,0.0204,0.0147,0.16500,166718,9960099,NaN
11,1:8:G:C,1,8,G,C,0.9866,-0.1439,0.0748,0.05451,166718,9960099,NaN
12,1:9:A:G,1,9,G,A,0.1327,0.0035,0.0146,0.80870,166718,9960099,NaN
13,1:10:G:A,1,10,G,A,0.8522,0.0302,0.0157,0.05421,166718,9960099,NaN
14,1:11:T:C,1,11,C,T,0.0027,0.1858,0.1546,0.22930,166718,9960099,NaN
15,1:12:A:G,1,12,G,A,0.0131,0.1430,0.0747,0.05575,166718,9960099,NaN
16,1:13:C:T,1,13,C,T,0.7445,-0.0135,0.0137,0.32450,191764,9960099,NaN
17,1:14:C:A,1,14,C,A,0.4544,-0.0170,0.0138,0.21910,166718,9960099,NaN
18,1:15:C:T,1,15,C,T,0.8516,0.0292,0.0156,0.06173,166718,9960099,NaN
19,1:16:A:G,23,16,G,A,0.1642,0.0099,0.0146,0.49750,166718,9960099,Sex chromosomes
20,1:17:G:A,1,17,G,A,0.7428,-0.0119,0.0131,0.36210,166718,9960099,CHR with prefix
21,1:1:G:A,1,18,G,A,0.8699,-0.0038,0.0161,0.81540,166718,9960099,CHR with prefix
23,1:18:A:G,1,20,G,A,0.7316,0.0013,0.0147,0.93200,191764,9960099,NaN
24,1:18:A:G,1,21,G,A,0.7316,0.0013,0.0147,0.93200,166718,9960099,NaN
25,1:18:A:G,1,22,G,A,0.7316,0.0013,0.0147,0.93200,166718,9960099,NaN
27,1:25:A:G,1,25,G,A,0.8220,0.0199,0.0139,0.15350,166718,9960099,POS float
29,1:864615:G:A,1,864615,G,A,0.8725,0.0275,0.0158,0.08092,166718,9960099,Lowercase alleles
32,1:864757:G:A,1,864757,G,A,0.1758,-0.0164,0.0165,0.31990,166718,9960399,Not normalizated allelels

## remove duplicated / multiallelic variants

In [18]:
mysumstats.remove_dup(mode="md")

Tue Jan 23 18:41:37 2024 Start to sort the sumstats using P...
Tue Jan 23 18:41:37 2024 Start to remove duplicated variants based on snpid...v3.4.36
Tue Jan 23 18:41:37 2024  -Current Dataframe shape : 28  x  12
Tue Jan 23 18:41:37 2024  -Which variant to keep:  first
Tue Jan 23 18:41:37 2024  -Removed  5  based on SNPID...
Tue Jan 23 18:41:37 2024 Start to remove duplicated variants based on CHR,POS,EA and NEA...
Tue Jan 23 18:41:37 2024  -Current Dataframe shape : 23  x  12
Tue Jan 23 18:41:37 2024  -Which variant to keep:  first
Tue Jan 23 18:41:37 2024  -Removed  1  based on CHR,POS,EA and NEA...
Tue Jan 23 18:41:37 2024 Start to remove multiallelic variants based on chr:pos...
Tue Jan 23 18:41:37 2024  -Which variant to keep:  first
Tue Jan 23 18:41:37 2024  -Removed  1  multiallelic variants...
Tue Jan 23 18:41:37 2024  -Removed  7  variants in total.
Tue Jan 23 18:41:37 2024  -Sort the coordinates...
Tue Jan 23 18:41:37 2024 Finished removing successfully!

In [19]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,STATUS,Note
0,1:1:G:A,1,1,G,A,0.9960,-0.0737,0.1394,0.59700,191764,9960099,Duplicated
1,1:2,1,2,TAA,T,0.8374,0.0213,0.0199,0.28460,166718,9980399,Multiallelic
2,1:3:T:A,1,3,T,A,0.8593,0.0172,0.0156,0.27050,166718,9960099,Multiallelic
3,1:4:T:C,1,4,C,T,0.1400,-0.0172,0.0156,0.27050,191764,9960099,NaN
4,1:5:G:A,1,5,G,A,0.1578,-0.0155,0.0131,0.23500,166718,9960099,Flipped
5,1:6:A:G,1,6,G,A,0.7493,0.0204,0.0147,0.16500,166718,9960099,NaN
6,1:7:A:G,1,7,G,A,0.7493,0.0204,0.0147,0.16500,166718,9960099,NaN
7,1:8:G:C,1,8,G,C,0.9866,-0.1439,0.0748,0.05451,166718,9960099,NaN
8,1:9:A:G,1,9,G,A,0.1327,0.0035,0.0146,0.80870,166718,9960099,NaN
9,1:10:G:A,1,10,G,A,0.8522,0.0302,0.0157,0.05421,166718,9960099,NaN
10,1:11:T:C,1,11,C,T,0.0027,0.1858,0.1546,0.22930,166718,9960099,NaN
11,1:12:A:G,1,12,G,A,0.0131,0.1430,0.0747,0.05575,166718,9960099,NaN
12,1:13:C:T,1,13,C,T,0.7445,-0.0135,0.0137,0.32450,191764,9960099,NaN
13,1:14:C:A,1,14,C,A,0.4544,-0.0170,0.0138,0.21910,166718,9960099,NaN
14,1:15:C:T,1,15,C,T,0.8516,0.0292,0.0156,0.06173,166718,9960099,NaN
15,1:17:G:A,1,17,G,A,0.7428,-0.0119,0.0131,0.36210,166718,9960099,CHR with prefix
16,1:18:A:G,1,20,G,A,0.7316,0.0013,0.0147,0.93200,191764,9960099,NaN
17,1:25:A:G,1,25,G,A,0.8220,0.0199,0.0139,0.15350,166718,9960099,POS float
18,1:864615:G:A,1,864615,G,A,0.8725,0.0275,0.0158,0.08092,166718,9960099,Lowercase alleles
19,1:864757:G:A,1,864757,G,A,0.1758,-0.0164,0.0165,0.31990,166718,9960399,Not normalizated allelels
20,1:16:A:G,23,16,G,A,0.1642,0.0099,0.0146,0.49750,166718,9960099,Sex chromosomes

## sort genome coordinate

In [20]:
mysumstats.sort_coordinate()

Tue Jan 23 18:41:56 2024 Start to sort the genome coordinates...v3.4.36
Tue Jan 23 18:41:56 2024  -Current Dataframe shape : 21  x  12
Tue Jan 23 18:41:56 2024  -Sorting genome coordinates...
Tue Jan 23 18:41:56 2024 Finished sorting genome coordinates successfully!

## sort column

In [21]:
mysumstats.sort_column()

Tue Jan 23 18:41:57 2024 Start to reorder the columns...v3.4.36
Tue Jan 23 18:41:57 2024  -Current Dataframe shape : 21  x  12
Tue Jan 23 18:41:57 2024  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,N,STATUS,Note
Tue Jan 23 18:41:57 2024 Finished sorting columns successfully!

# All in one function

In [12]:
mysumstats.basic_check()

Mon Oct 31 12:42:47 2022 Start to check IDs...
Mon Oct 31 12:42:47 2022  -Current Dataframe shape : 12557759  x  12
Mon Oct 31 12:42:47 2022  -Checking if SNPID is chr:pos:ref:alt...(separator: - ,: , _)
Mon Oct 31 12:43:06 2022 Finished checking IDs successfully!
Mon Oct 31 12:43:06 2022 Start to fix chromosome notation...
Mon Oct 31 12:43:06 2022  -Current Dataframe shape : 12557759  x  12
Mon Oct 31 12:43:58 2022  -All CHR are already fixed...
Mon Oct 31 12:44:30 2022 Finished fixing chromosome notation successfully!
Mon Oct 31 12:44:30 2022 Start to fix basepair positions...
Mon Oct 31 12:44:30 2022  -Current Dataframe shape : 12557759  x  12
Mon Oct 31 12:44:55 2022  -Position upper_bound is: 250,000,000
Mon Oct 31 12:45:29 2022  -Remove outliers: 0
Mon Oct 31 12:45:40 2022  -Converted all position to datatype Int64.
Mon Oct 31 12:45:40 2022 Finished fixing basepair position successfully!
Mon Oct 31 12:45:40 2022 Start to fix alleles...
Mon Oct 31 12:45:40 2022  -Current Dataframe shape : 12557759  x  12
Mon Oct 31 12:45:57 2022  -Converted all bases to string datatype and UPPERCASE.
Mon Oct 31 12:46:25 2022 Finished fixing allele successfully!
Mon Oct 31 12:46:25 2022 Start sanity check for statistics ...
Mon Oct 31 12:46:25 2022  -Current Dataframe shape : 12557759  x  12
Mon Oct 31 12:46:31 2022  -Checking if  0 <=N<= inf  ...
Mon Oct 31 12:46:37 2022  -Removed 0 variants with bad N.
Mon Oct 31 12:46:37 2022  -Checking if  0 <=EAF<= 1  ...
Mon Oct 31 12:46:40 2022  -Removed 0 variants with bad EAF.
Mon Oct 31 12:46:40 2022  -Checking if  5 <=MAC<= inf  ...
Mon Oct 31 12:46:44 2022  -Removed 0 variants with bad MAC.
Mon Oct 31 12:46:44 2022  -Checking if  5e-300 <= P <= 1  ...
Mon Oct 31 12:46:46 2022  -Removed 0 variants with bad P.
Mon Oct 31 12:46:46 2022  -Checking if  -10 <BETA)< 10  ...
Mon Oct 31 12:46:47 2022  -Removed 0 variants with bad BETA.
Mon Oct 31 12:46:47 2022  -Checking if  0 <SE< inf  ...
Mon Oct 31 12:46:49 2022  -Removed 0 variants with bad SE.
Mon Oct 31 12:46:49 2022  -Checking STATUS...
Mon Oct 31 12:46:51 2022  -Coverting STAUTUS to category.
Mon Oct 31 12:46:53 2022  -Removed 0 variants with bad statistics in total.
Mon Oct 31 12:46:53 2022 Finished sanity check successfully!
Mon Oct 31 12:46:55 2022 Start to normalize variants...
Mon Oct 31 12:46:55 2022  -Current Dataframe shape : 12557759  x  12
Mon Oct 31 12:46:56 2022  -No available variants to normalize..
Mon Oct 31 12:46:56 2022 Finished normalizing variants successfully!