# Data conversion

In [1]:
import gwaslab as gl

## Loading sample data

In [2]:
mysumstats = gl.Sumstats("t2d_bbj.txt.gz",
             snpid="SNP",
             chrom="CHR",
             pos="POS",
             ea="ALT",
             nea="REF",
             neaf="Frq",
             beta="BETA",
             se="SE",nrows=5)

Mon Dec 12 13:40:22 2022 Start to initiate from file :t2d_bbj.txt.gz
Mon Dec 12 13:40:22 2022  -Reading columns          : SNP,REF,Frq,BETA,ALT,SE,CHR,POS
Mon Dec 12 13:40:22 2022  -Renaming columns to      : SNPID,NEA,EAF,BETA,EA,SE,CHR,POS
Mon Dec 12 13:40:22 2022  -Current Dataframe shape : 5  x  8
Mon Dec 12 13:40:22 2022  -Initiating a status column: STATUS ...
Mon Dec 12 13:40:23 2022  -NEAF is specified...
Mon Dec 12 13:40:23 2022  -Checking if 0<= NEAF <=1 ...
Mon Dec 12 13:40:23 2022  -Converted NEAF to EAF.
Mon Dec 12 13:40:23 2022  -Removed 0 variants with bad NEAF.
Mon Dec 12 13:40:23 2022 Start to reorder the columns...
Mon Dec 12 13:40:23 2022  -Current Dataframe shape : 5  x  9
Mon Dec 12 13:40:23 2022  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,STATUS
Mon Dec 12 13:40:23 2022 Finished sorting columns successfully!
Mon Dec 12 13:40:23 2022 Finished loading data successfully!

before conversion , sanity-check the data

In [3]:
mysumstats.check_sanity()

Mon Dec 12 13:40:26 2022 Start sanity check for statistics ...
Mon Dec 12 13:40:26 2022  -Current Dataframe shape : 5  x  9
Mon Dec 12 13:40:26 2022  -Checking if  0 <=EAF<= 1  ...
Mon Dec 12 13:40:26 2022  -Removed 0 variants with bad EAF.
Mon Dec 12 13:40:26 2022  -Checking if  -10 <BETA)< 10  ...
Mon Dec 12 13:40:26 2022  -Removed 0 variants with bad BETA.
Mon Dec 12 13:40:26 2022  -Checking if  0 <SE< inf  ...
Mon Dec 12 13:40:26 2022  -Removed 0 variants with bad SE.
Mon Dec 12 13:40:26 2022  -Checking STATUS...
Mon Dec 12 13:40:27 2022  -Coverting STAUTUS to interger.
Mon Dec 12 13:40:27 2022  -Removed 0 variants with bad statistics in total.
Mon Dec 12 13:40:27 2022 Finished sanity check successfully!

## BETA -> OR  , BETA/SE -> OR/OR_95L/OR_95U

In [4]:
mysumstats.fill_data(to_fill=["OR"])

Mon Dec 12 13:40:27 2022 Start filling data using existing columns...
Mon Dec 12 13:40:27 2022  -Raw input columns:  ['SNPID', 'CHR', 'POS', 'EA', 'NEA', 'EAF', 'BETA', 'SE', 'STATUS']
Mon Dec 12 13:40:27 2022  -Overwrite mode:  False
Mon Dec 12 13:40:27 2022   -Skipping columns:  []
Mon Dec 12 13:40:27 2022  -Filling columns:  ['OR']
Mon Dec 12 13:40:27 2022   - Filling OR using BETA column...
Mon Dec 12 13:40:27 2022   - Filling OR_95L/OR_95U using BETA/SE columns...
Mon Dec 12 13:40:27 2022 Start to reorder the columns...
Mon Dec 12 13:40:27 2022  -Current Dataframe shape : 5  x  12
Mon Dec 12 13:40:27 2022  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,OR,OR_95L,OR_95U,STATUS
Mon Dec 12 13:40:27 2022 Finished sorting columns successfully!
Mon Dec 12 13:40:27 2022 Finished filling data using existing columns.

In [5]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,OR,OR_95L,OR_95U,STATUS
0,1:725932_G_A,1,725932,G,A,0.9960,-0.0737,0.1394,0.928950,0.706863,1.220815,9999999
1,1:725933_A_G,1,725933,G,A,0.0040,0.0737,0.1394,1.076484,0.819125,1.414702,9999999
2,1:737801_T_C,1,737801,C,T,0.0051,0.0490,0.1231,1.050220,0.825083,1.336790,9999999
3,1:749963_T_TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,1.021528,0.982453,1.062159,9999999
4,1:751343_T_A,1,751343,T,A,0.8593,0.0172,0.0156,1.017349,0.986714,1.048935,9999999

In [6]:
mysumstats.data.drop(labels=["BETA","SE"],axis=1,inplace=True)

## OR -> BETA  ,  OR/OR_95L/OR_95U -> BETA/SE

In [7]:
mysumstats.fill_data(to_fill=["BETA","SE"])

Mon Dec 12 13:40:27 2022 Start filling data using existing columns...
Mon Dec 12 13:40:27 2022  -Raw input columns:  ['SNPID', 'CHR', 'POS', 'EA', 'NEA', 'EAF', 'OR', 'OR_95L', 'OR_95U', 'STATUS']
Mon Dec 12 13:40:27 2022  -Overwrite mode:  False
Mon Dec 12 13:40:27 2022   -Skipping columns:  []
Mon Dec 12 13:40:27 2022  -Filling columns:  ['BETA', 'SE']
Mon Dec 12 13:40:27 2022   - Filling BETA value using OR column...
Mon Dec 12 13:40:27 2022   - Filling SE value using OR/OR_95U column...
Mon Dec 12 13:40:27 2022 Start to reorder the columns...
Mon Dec 12 13:40:27 2022  -Current Dataframe shape : 5  x  12
Mon Dec 12 13:40:27 2022  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,OR,OR_95L,OR_95U,STATUS
Mon Dec 12 13:40:27 2022 Finished sorting columns successfully!
Mon Dec 12 13:40:27 2022 Finished filling data using existing columns.

In [8]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,OR,OR_95L,OR_95U,STATUS
0,1:725932_G_A,1,725932,G,A,0.9960,-0.0737,0.1394,0.928950,0.706863,1.220815,9999999
1,1:725933_A_G,1,725933,G,A,0.0040,0.0737,0.1394,1.076484,0.819125,1.414702,9999999
2,1:737801_T_C,1,737801,C,T,0.0051,0.0490,0.1231,1.050220,0.825083,1.336790,9999999
3,1:749963_T_TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,1.021528,0.982453,1.062159,9999999
4,1:751343_T_A,1,751343,T,A,0.8593,0.0172,0.0156,1.017349,0.986714,1.048935,9999999

## BETA/SE -> Z

In [9]:
mysumstats.fill_data(to_fill=["Z"])

Mon Dec 12 13:40:28 2022 Start filling data using existing columns...
Mon Dec 12 13:40:28 2022  -Raw input columns:  ['SNPID', 'CHR', 'POS', 'EA', 'NEA', 'EAF', 'BETA', 'SE', 'OR', 'OR_95L', 'OR_95U', 'STATUS']
Mon Dec 12 13:40:28 2022  -Overwrite mode:  False
Mon Dec 12 13:40:28 2022   -Skipping columns:  []
Mon Dec 12 13:40:28 2022  -Filling columns:  ['Z']
Mon Dec 12 13:40:28 2022   - Filling Z using BETA/SE column...
Mon Dec 12 13:40:28 2022 Start to reorder the columns...
Mon Dec 12 13:40:28 2022  -Current Dataframe shape : 5  x  13
Mon Dec 12 13:40:28 2022  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,Z,OR,OR_95L,OR_95U,STATUS
Mon Dec 12 13:40:28 2022 Finished sorting columns successfully!
Mon Dec 12 13:40:28 2022 Finished filling data using existing columns.

In [10]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,Z,OR,OR_95L,OR_95U,STATUS
0,1:725932_G_A,1,725932,G,A,0.9960,-0.0737,0.1394,-0.528694,0.928950,0.706863,1.220815,9999999
1,1:725933_A_G,1,725933,G,A,0.0040,0.0737,0.1394,0.528694,1.076484,0.819125,1.414702,9999999
2,1:737801_T_C,1,737801,C,T,0.0051,0.0490,0.1231,0.398051,1.050220,0.825083,1.336790,9999999
3,1:749963_T_TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,1.070354,1.021528,0.982453,1.062159,9999999
4,1:751343_T_A,1,751343,T,A,0.8593,0.0172,0.0156,1.102576,1.017349,0.986714,1.048935,9999999

## P -> MLOG10P

In [11]:
mysumstats.fill_data(to_fill=["MLOG10P"])

Mon Dec 12 13:40:28 2022 Start filling data using existing columns...
Mon Dec 12 13:40:28 2022  -Raw input columns:  ['SNPID', 'CHR', 'POS', 'EA', 'NEA', 'EAF', 'BETA', 'SE', 'Z', 'OR', 'OR_95L', 'OR_95U', 'STATUS']
Mon Dec 12 13:40:28 2022  -Overwrite mode:  False
Mon Dec 12 13:40:28 2022   -Skipping columns:  []
Mon Dec 12 13:40:28 2022  -Filling columns:  ['MLOG10P']
Mon Dec 12 13:40:28 2022   - Filling P value using Z column...
Mon Dec 12 13:40:28 2022   - Filling MLOG10P using P column...
Mon Dec 12 13:40:28 2022 Start to reorder the columns...
Mon Dec 12 13:40:28 2022  -Current Dataframe shape : 5  x  14
Mon Dec 12 13:40:28 2022  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,Z,MLOG10P,OR,OR_95L,OR_95U,STATUS
Mon Dec 12 13:40:28 2022 Finished sorting columns successfully!
Mon Dec 12 13:40:28 2022 Finished filling data using existing columns.

## MLOG10P -> P

In [12]:
mysumstats.fill_data(to_fill=["P"])

Mon Dec 12 13:40:29 2022 Start filling data using existing columns...
Mon Dec 12 13:40:29 2022  -Raw input columns:  ['SNPID', 'CHR', 'POS', 'EA', 'NEA', 'EAF', 'BETA', 'SE', 'Z', 'MLOG10P', 'OR', 'OR_95L', 'OR_95U', 'STATUS']
Mon Dec 12 13:40:29 2022  -Overwrite mode:  False
Mon Dec 12 13:40:29 2022   -Skipping columns:  []
Mon Dec 12 13:40:29 2022  -Filling columns:  ['P']
Mon Dec 12 13:40:29 2022   - Filling P value using MLOG10P column...
Mon Dec 12 13:40:29 2022 Start to reorder the columns...
Mon Dec 12 13:40:29 2022  -Current Dataframe shape : 5  x  15
Mon Dec 12 13:40:29 2022  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,Z,P,MLOG10P,OR,OR_95L,OR_95U,STATUS
Mon Dec 12 13:40:29 2022 Finished sorting columns successfully!
Mon Dec 12 13:40:29 2022 Finished filling data using existing columns.

In [13]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,Z,P,MLOG10P,OR,OR_95L,OR_95U,STATUS
0,1:725932_G_A,1,725932,G,A,0.9960,-0.0737,0.1394,-0.528694,0.597018,0.224013,0.928950,0.706863,1.220815,9999999
1,1:725933_A_G,1,725933,G,A,0.0040,0.0737,0.1394,0.528694,0.597018,0.224013,1.076484,0.819125,1.414702,9999999
2,1:737801_T_C,1,737801,C,T,0.0051,0.0490,0.1231,0.398051,0.690593,0.160778,1.050220,0.825083,1.336790,9999999
3,1:749963_T_TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,1.070354,0.284460,0.545979,1.021528,0.982453,1.062159,9999999
4,1:751343_T_A,1,751343,T,A,0.8593,0.0172,0.0156,1.102576,0.270211,0.568297,1.017349,0.986714,1.048935,9999999

## EAF -> MAF

In [14]:
mysumstats.fill_data(to_fill=["MAF"])

Mon Dec 12 13:40:29 2022 Start filling data using existing columns...
Mon Dec 12 13:40:29 2022  -Raw input columns:  ['SNPID', 'CHR', 'POS', 'EA', 'NEA', 'EAF', 'BETA', 'SE', 'Z', 'P', 'MLOG10P', 'OR', 'OR_95L', 'OR_95U', 'STATUS']
Mon Dec 12 13:40:29 2022  -Overwrite mode:  False
Mon Dec 12 13:40:29 2022   -Skipping columns:  []
Mon Dec 12 13:40:29 2022  -Filling columns:  ['MAF']
Mon Dec 12 13:40:29 2022   - Filling MAF using EAF column...
Mon Dec 12 13:40:29 2022 Start to reorder the columns...
Mon Dec 12 13:40:29 2022  -Current Dataframe shape : 5  x  16
Mon Dec 12 13:40:29 2022  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,MAF,BETA,SE,Z,P,MLOG10P,OR,OR_95L,OR_95U,STATUS
Mon Dec 12 13:40:29 2022 Finished sorting columns successfully!
Mon Dec 12 13:40:29 2022 Finished filling data using existing columns.

In [15]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,MAF,BETA,SE,Z,P,MLOG10P,OR,OR_95L,OR_95U,STATUS
0,1:725932_G_A,1,725932,G,A,0.9960,0.0040,-0.0737,0.1394,-0.528694,0.597018,0.224013,0.928950,0.706863,1.220815,9999999
1,1:725933_A_G,1,725933,G,A,0.0040,0.0040,0.0737,0.1394,0.528694,0.597018,0.224013,1.076484,0.819125,1.414702,9999999
2,1:737801_T_C,1,737801,C,T,0.0051,0.0051,0.0490,0.1231,0.398051,0.690593,0.160778,1.050220,0.825083,1.336790,9999999
3,1:749963_T_TAA,1,749963,TAA,T,0.8374,0.1626,0.0213,0.0199,1.070354,0.284460,0.545979,1.021528,0.982453,1.062159,9999999
4,1:751343_T_A,1,751343,T,A,0.8593,0.1407,0.0172,0.0156,1.102576,0.270211,0.568297,1.017349,0.986714,1.048935,9999999